/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999; display:none;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:auto; position:absolute; top:150px; right:0;}
ol.bjqs-markers.h-centered{text-align: right;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:auto;margin:0;padding:0;position:absolute;top:137px; left:165px; z-index:9999; font-weight:bold;}

#banner-slide{
	display:inline-block;
	width:240px;
	padding-left:15px;
	position:relative;
	float:left;
	top:15px;
}

#banner-slide1 {
	display:inline-block;
	width:640px;
	padding-top:15px;
	float:left;
}

.bjqs-wrapper {
	padding-left:0;
	z-index:0;
}


ol.bjqs-markers li a{
	padding:2px 5px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
	font-size:10px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

.bjqs .big-text1 {
	font-size:40px;
	display:inline-block;
	margin-top:10px;
}


.banner-list {
	list-style:none;
	margin:0;
	padding:0 ;
	
}

.banner-list li {
	list-style:none;
	font-size:11px;
	margin-bottom:6px;
	padding:0 10px;
	
}