-<!DOCTYPE html>
<!--[if lte IE 8]>
<html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>


    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>CIO Matrix</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/fontello.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-social.css"/>
    <link rel="stylesheet" href="font-awesome-4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/mobile-menu.css"/>

    <!-- HTML5 Shiv
    ================================================== -->
    <script src="js/jquery.modernizr.js"></script>

</head>

<body class="home">
<!-- - - - - - - - - - - - - - Loader - - - - - - - - - - - - - - - - -->
<div class="loader"></div>
<!--/ .loader-->
<!-- - - - - - - - - - - - - end Loader - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->
<div id="wrapper">
    <!-- - - - - - - - - - - - - - START DESK TOP HEADER - - - - - - - - - - - - - - - - -->
    <div style="background-color:#1f1f1f;">
        <div class="container">
            <h1 id="logo"><a href="home.html"><img src="images/logo-dark.png" alt="logo"/></a></h1>
        </div>
    </div>
    <section>
        <script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
	  <div class="container"><br />
	  	<div class="row">
	       <div class="custom1 center-block">
			  <div class="col-md-12"><br />
				<h1 class="h-1">{{App.submitController.pagetitle}}</h1>
					
						{{#if App.submitController.showmainform}}
							<form class="form-horizontal" role="form">
								{{#if App.submitController.submiterror}}
									<div class="alert alert-info alert-dismissable">
							 			{{App.submitController.passworderrorVal}}.
  									</div>
								{{/if}}
         						<div class="b1"><br />
  									<div id='divusername' class="form-group">
    									<label for="Username" class="col-sm-3 control-label">Username</label>
    									<div class="col-sm-9">
											<!--<input type="text" class="form-control input-sm" readonly value="Ron Varma" > -->
											{{view App.RegTextField id="username" class="form-control input-sm" valueBinding="App.ApplicationController.username"}}
											{{#if App.submitController.usernameerror}}
            									<span class="error"><span class="glyphicon glyphicon-error-sign"></span> {{App.submitController.usernameerrorVal}}</span>
          									{{/if}}
    									</div>
  									</div>
									{{#if App.submitController.showoldpassword}}
									<div id='divoldpassword' class="form-group">
										<label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
    									<div class="col-sm-9">
      										<!--<input type="password" class="form-control input-sm">-->
											{{view App.RegTextField type="password" id="oldpassword" class="form-control input-sm" valueBinding="App.ApplicationController.oldpassword"}}
    										{{#if App.submitController.oldpassworderror}}
            									<span class="error"><span class="glyphicon glyphicon-error-sign"></span> {{App.submitController.oldpassworderrorVal}}</span>
          									{{/if}}
										</div>
										{{outlet}}
									</div>
									{{/if}}
  									<div id='divpassword' class="form-group">
    									<label for="Password" class="col-sm-3 control-label">{{App.submitController.newpassword}}Password</label>
    									<div class="col-sm-9">
      										<!--<input type="password" class="form-control input-sm">-->
											{{view App.RegTextField type="password" id="password" class="form-control input-sm" valueBinding="App.ApplicationController.password"}}
    										{{#if App.submitController.passworderror}}
            									<span class="error"><span class="glyphicon glyphicon-error-sign"></span> {{App.submitController.passworderrorVal}}</span>
          									{{/if}}
											<span class="help-block">(Your password should be atleast 6 characters but not more than 14 characters, must contain capitals, numerals and special characters from $ . , ! % ^ * @)</span>
										</div>
  									</div>
  									<div id='divconfirmpassword' class="form-group">
    									<label for="Password" class="col-sm-3 control-label">Confirm Password</label>
    									<div class="col-sm-9">
      										<!--<input type="password" class="form-control input-sm">-->
											{{view App.RegTextField type="password" id="confirmpassword" class="form-control input-sm" valueBinding="App.ApplicationController.confirmpassword"}}
											{{#if App.submitController.confirmpassworderror}}
            									<span class="error"><span class="glyphicon glyphicon-error-sign"></span> {{App.submitController.confirmpassworderrorVal}}</span>
          									{{/if}}
    									</div>
  									</div><br />
  									<div class="form-group">
    									<div class="col-sm-offset-3 col-sm-9">
      										<button type="submit" class="btn btn-red fnt1 pull-right" {{action 'SetPassword' on='click'}} {{bind-attr disabled="App.submitController.enablesubmit"}}>SUBMIT</button>
    									</div>
  									</div>
 								</div>  
							</form>
						{{/if}}
						{{#if App.submitController.issubmitted}}
							<div class="alert alert-info alert-dismissable">
								<strong>Thanks {{App.submitController.dispfirstname}}!</strong> Your password has been updated successfully.
  							</div>
						{{/if}}
						
						<div class="text-center">
            				<br />
                			<img src="images/logo-small.png" alt="logo" />
                			<p class="p-1">© CIO Matrix Global. All Rights Reserved.</p>
            			</div>
					
				 </div>
			 </div>
		  </div>
		</div><!--/ .container-->	

        </script>
        <script type="text/x-handlebars" data-template-name="change">
		<div>&nbsp;</div>								

        </script>
    </section>
    <!--/ .section-->
</div>
<!--/ #wrapper-->
<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]
<script src="js/menu-mobile.js"></script>
<script src="js/jquery.queryloader2.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/jquery.cycle.all.min.js"></script>
<script src="js/jquery.smoothscroll.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="js/jquery.gmap.min.js"></script>
<script src="js/config.js"></script>
<script src="js/custom.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/libs/handlebars.js"></script>
<script src="js/libs/ember.js"></script>
<script src="js/online.js"></script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->
<script src="js/menu-mobile.js"></script>
<script src="js/jquery.queryloader2.js"></script>
<!-- <script src="js/waypoints.min.js"></script> -->
<!-- <script src="js/jquery.easing.1.3.min.js"></script> -->
<script src="js/jquery.cycle.all.min.js"></script>
<!-- <script src="js/jquery.smoothscroll.js"></script> -->
<script src="js/config.js"></script>
<script src="js/custom.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/libs/handlebars.js"></script>
<script src="js/libs/ember.js"></script>
<script src="ChangePassword/js/password.js"></script>


</body>
</html>
