/* #Media Queries
================================================== */

@media screen and (min-width: 993px) and (max-width: 1200px) {
   /* ---------------------------------------------------------------------- */
   /*	Header
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Main Navigation
         /* -------------------------------------------------- */
   /* -------------------------------------------------- */
   /* Slides
      /* -------------------------------------------------- */

   .header-text h1 {
      font-size: 80px;
   }
   /* ---------------------------------------------------------------------- */
   /*	Portfolio
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Portfolio Items
         /* -------------------------------------------------- */

   ul.portfolio-items li {
      width: 25%;
      max-width: 25%;
   }
   .eb-content-sub-white {
      padding: 10px 15px 15px 25px;
      float: left;
   }
   .eb-content-sub-white h2 {
      padding-bottom: 10px;
   }
}
/* Smaller than standard 992 (devices and browsers) */

@media only screen and (max-width: 992px) {
   /* ---------------------------------------------------------------------- */
   /*	Header
      /* ---------------------------------------------------------------------- */

   #header {
      position: relative;
   }
   .transparent #logo a {
      color: #5b5e60;
   }
   .header-shrink.transparent #logo a {
      color: #fff;
   }
   #header.vspace {
      position: relative;
      top: 0 !important;
   }
   .section {
      padding-top: 0 !important;
   }
   #header.vspace {
      position: relative;
      top: -60px !important;
   }
   /* -------------------------------------------------- */
   /*	Main Navigation
         /* -------------------------------------------------- */

   .responsive-nav-button {
      display: inline-block;
      vertical-align: middle;
   }
   #header #navigation {
      position: relative;
      z-index: 999;
      right: 0;
      left: 0;
      top: 100%;
      display: none;
      overflow: hidden;
      margin-bottom: 7px;
      padding-top: 0;
      width: 100%;
      background-color: #fff;
      -webkit-border-radius: 3px;
      border-radius: 3px;
   }
   .navigation ul li {
      display: block;
      float: none;
      margin: 2px;
      padding-bottom: 0;
   }
   .navigation ul li > a {
      padding: 10px 15px;
      background-color: #666;
      color: #fff;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
   }
   .navigation ul a:hover,
   .navigation ul .current-menu-item > a,
   .navigation ul .current-menu-parent > a,
   .navigation ul .current-menu-ancestor > a,
   .navigation ul .current_page_item > a,
   .navigation ul .current_page_parent > a,
   .navigation ul .current_page_ancestor > a {
      background-color: #fff;
      color: #cc0023;
   }
   .navigation ul a {
      -webkit-border-radius: 3px;
      border-radius: 3px;
   }
   .header-shrink .navigation > ul > li > a:after {
      color: #fff;
   }
   .navigation ul a:hover:after,
   .navigation ul .current-menu-item > a:after,
   .navigation ul .current-menu-parent > a:after,
   .navigation ul .current-menu-ancestor > a:after,
   .navigation ul .current_page_item > a:after,
   .navigation ul .current_page_parent > a:after,
   .navigation ul .current_page_ancestor > a:after {
      color: #00c2a9;
   }
   /* Dropdown */

   .navigation ul ul {
      position: relative;
      display: block;
      padding: 2px 10% 2px 10%;
      width: 100%;
      background-color: #ececec;
      -webkit-border-radius: 3px;
      border-radius: 3px;
   }
   .navigation ul ul a:hover,
   .navigation ul ul .current-menu-item > a,
   .navigation ul ul .current-menu-parent > a,
   .navigation ul ul .current-menu-ancestor > a,
   .navigation ul ul .current_page_item > a,
   .navigation ul ul .current_page_parent > a,
   .navigation ul ul .current_page_ancestor > a {
      color: #cc0023;
   }
   .navigation ul ul .current-menu-item.rightarrowclass > a:after,
   .navigation ul ul .current-menu-parent.rightarrowclass > a:after,
   .navigation ul ul .current-menu-ancestor.rightarrowclass > a:after,
   .navigation ul ul .current_page_item.rightarrowclass > a:after,
   .navigation ul ul .current_page_parent.rightarrowclass > a:after,
   .navigation ul ul .current_page_ancestor.rightarrowclass > a:after {
      color: #00c2a9;
   }
   .navigation ul ul .rightarrowclass > a:after {
      content: '\e8ba';
   }
   /* -------------------------------------------------- */
   /* Slides
      /* -------------------------------------------------- */

   .header-text h1 {
      font-size: 50px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .navigation > ul > li > a {
      display: block;
      margin: 0;
      padding: 25px 4px;
      color: #fff;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1em;
      -webkit-transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
      transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
   }
   .subnav li a {
      padding: 0 13px;
   }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
   /* ---------------------------------------------------------------------- */
   /*	Section
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /* Video Full Container
         /* -------------------------------------------------- */

   .video-title {
      font-size: 55px;
   }
   /* -------------------------------------------------- */
   /* Counter Box
         /* -------------------------------------------------- */

   .counter {
      width: 100px;
   }
   .counter .count {
      height: 100px;
      font-size: 52px;
      line-height: 100px;
   }
   /* -------------------------------------------------- */
   /* Twitter
         /* -------------------------------------------------- */

   .tweet .tweets .tweet_text {
      padding: 0 5% 30px;
   }
   /* ---------------------------------------------------------------------- */
   /*	Portfolio
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Portfolio Filter
         /* -------------------------------------------------- */

   .portfolio-filter li {
      padding: 3px 15px;
   }
   /* -------------------------------------------------- */
   /*	Portfolio Items
         /* -------------------------------------------------- */

   ul.portfolio-items li {
      width: 33.33333333333333%;
      max-width: 33.33333333333333%;
   }
   /* -------------------------------------------------- */
   /*	Portfolio Single
         /* -------------------------------------------------- */
   /* Project Meta */

   .project-meta {
      margin-bottom: 10px;
   }
   .project-meta li {
      display: inline-block;
      margin-right: 15px;
   }
   .eb-content-sub-white {
      margin: 20px 30px;
      padding: 30px;
      float: left;
   }
   .eb-content-sub-white h2 {
      padding-bottom: 10px;
   }
}
/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
   /* -------------------------------------------------- */
   /*	Images
         /* -------------------------------------------------- */

   .image-extra .single-image {
      margin: 10px 5px 0;
   }
   .portfolio-items .link-icon .curtain,
   .portfolio-items .plus-icon .curtain {
      width: 35px;
      height: 35px;
   }
   .portfolio-items .link-icon .curtain:after,
   .portfolio-items .plus-icon .curtain:after {
      font-size: 14px;
      line-height: 35px;
   }
   .portfolio-items .plus-icon .curtain:after {
      font-size: 22px;
      line-height: 32px;
   }
   .contact-form {
      margin-top: 60px;
   }
   .section {
      margin-top: 0;
   }
   /* ---------------------------------------------------------------------- */
   /*	Header
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Main Navigation
         /* -------------------------------------------------- */

   #header #navigation {
      position: relative;
   }
   .navigation ul li > a {
      padding: 10px 15px;
   }
   .header-shrink .navigation > ul > .current-menu-item > a {
      color: #ff4629;
   }
   /* ---------------------------------------------------------------------- */
   /*	Section
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /* Slogan Title Group
         /* -------------------------------------------------- */

   .section {
      padding-top: 0 !important;
   }
   .section-title h1 {
      font-size: 43px;
   }
   .eb-page {
      padding-top: 0;
   }
   .eb-other h1 {
      font-size: 25px;
   }
   .subnav li a {
      display: inline-block;
      line-height: 45px;
      padding: 0 15px;
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      font-size: 12px;
   }
   .eb-content {
      padding: 10px 15px 15px 15px;
      margin: 0 30px 0 0;
      background-color: #000;
   }
   .eb-content01 {
      padding: 0;
   }
   .eb-content h1,
   .eb-content01 h1,
   .eb-content01 h2 {
      font-size: 22px;
   }
   .date-time li,
   .venue li,
   .time li,
   .user li {
      font-size: 12px;
   }
   .date-time,
   .venue,
   .time,
   .user {
      margin-left: 10px;
   }
   .event-wrapper img {
      display: none;
   }
   .event-wrapper {
      margin: 15px 30px 25px 15px;
      padding: 20px 10px 0px 0px;
   }
   .event-block {
      padding: 20px 10px 10px 10px;
   }
   .event-content {
      padding-top: 25px !important;
   }
   .eb-page {
      padding-top: 0;
   }
   /* -------------------------------------------------- */
   /* Slogan Group
         /* -------------------------------------------------- */

   .slogan {
      margin-bottom: 40px;
   }
   .slogan h1 {
      font-size: 34px;
   }
   /* -------------------------------------------------- */
   /* Video Full Container
         /* -------------------------------------------------- */

   .video-title {
      font-size: 40px;
   }
   /* -------------------------------------------------- */
   /* Team
         /* -------------------------------------------------- */

   .team-contents {
      width: 100%;
   }
   .team-member article {
      float: none;
      margin: 0 0 20px;
   }
   .contents {
      width: 100%;
   }
   .team-info {
      float: none;
      width: 100%;
   }
   .team-image {
      display: inline-block;
      width: 45%;
      vertical-align: top;
   }
   .team-image img {
      border: 1px solid #e0e0e0;
   }
   .team-group {
      display: inline-block;
      margin-bottom: 10px;
      padding-right: 0;
      width: 55%;
      vertical-align: bottom;
      border-color: transparent;
      background-color: transparent;
   }
   .team-member article:hover .team-group {
      background-color: transparent;
   }
   .team-member article:hover .team-title,
   .team-member article:hover .team-position {
      color: inherit;
   }
   .team-content {
      margin-left: 0;
      font-size: 14px;
   }
   .team-entry {
      width: 100%;
   }
   /* -------------------------------------------------- */
   /* Twitter
         /* -------------------------------------------------- */

   .tweet .tweets .tweet_text {
      padding: 0 0 30px;
   }
   /* -------------------------------------------------- */
   /*	Clients
         /* -------------------------------------------------- */

   ul.clients-items li {
      width: 50%;
   }
   /* -------------------------------------------------- */
   /* Pricing Tables
         /* -------------------------------------------------- */

   .simple-pricing-table .column {
      margin-bottom: 20px;
      width: 100%;
   }
   .simple-pricing-table.col-2 .column,
   .simple-pricing-table.col-3 .column,
   .simple-pricing-table.col-4 .column {
      width: 100%;
   }
   .simple-pricing-table .column:hover,
   .simple-pricing-table .featured {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   /* ---------------------------------------------------------------------- */
   /*	Blog
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Image Post Slider
         /* -------------------------------------------------- */

   .image-slider-nav a {
      margin-top: -25px;
      width: 25px;
      height: 50px;
   }
   .touch .image-slider .prevBtn {
      left: 15px;
   }
   .touch .image-slider .nextBtn {
      right: 15px;
   }
   .image-slider-nav a:after {
      font-size: 25px;
      line-height: 48px;
   }
   /* -------------------------------------------------- */
   /*	Respond
         /* -------------------------------------------------- */

   #respond input[type="text"],
   #respond input[type="email"],
   #respond input[type="url"] {
      width: 100%;
   }
   #respond textarea {
      width: 100%;
      min-width: 100%;
   }
   /* -------------------------------------------------- */
   /*	Tabs
         /* -------------------------------------------------- */

   .tabs-nav {
      height: 38px;
   }
   .tabs-nav li a {
      padding: 6px 15px;
      height: 38px;
   }
   /* ---------------------------------------------------------------------- */
   /*	Portfolio
      /* ---------------------------------------------------------------------- */

   .extra-title {
      font-size: 17px;
   }
   /* -------------------------------------------------- */
   /*	Portfolio Filter
         /* -------------------------------------------------- */

   .portfolio-filter {
      text-align: left;
   }
   .portfolio-filter li {
      width: 48%;
      border-width: 1px;
      text-align: center;
   }
   .portfolio-filter li:first-child {
      -webkit-border-radius: 0;
      border-radius: 0;
   }
   .portfolio-filter li:last-child {
      border-right-width: 1px;
      -webkit-border-radius: 0;
      border-radius: 0;
   }
   .portfolio-filter li:nth-child(2n-1) {
      margin-right: 4%;
      -webkit-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px;
   }
   .portfolio-filter li:nth-child(2n) {
      margin-right: 0;
      -webkit-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0;
   }
   .portfolio-filter li.active + li {
      border-left-color: #cfcfcf;
   }
   /* -------------------------------------------------- */
   /*	Portfolio Items
         /* -------------------------------------------------- */

   ul.portfolio-items li {
      width: 50%;
      max-width: 50%;
   }
   /* -------------------------------------------------- */
   /*	Portfolio Single
         /* -------------------------------------------------- */

   .project-page-header .project-title {
      font-size: 40px;
   }
   /* Project Nav */

   .project-nav {
      margin-top: -10px;
   }
   .project-nav li {
      margin-left: 10px;
   }
   .project-nav li a:after {
      font-size: 25px;
      line-height: 24px;
   }
   .project-nav .all-projects:after {
      font-size: 23px;
   }
   /* Project Meta */

   .project-meta {
      margin-bottom: 10px;
   }
   .project-meta li {
      display: inline-block;
      margin-right: 15px;
   }
   /* Project Similar Posts */

   .project-similar li,
   .row .project-similar li {
      width: 100%;
   }
   /* ---------------------------------------------------------------------- */
   /*	Widgets + Shortcodes
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Map
         /* -------------------------------------------------- */

   .google_map {
      height: 200px;
   }
}

@media only screen and (min-width: 679px) {
   /* Clinton*/

   .eb-content-sub {
      padding: 10px 15px 33px 15px;
      background-color: #000;
   }
}

@media only screen and (min-width: 680px) and (max-width: 767px) {
   /* Clinton*/

   .eb-content-sub {
      padding: 10px 15px 58px 15px;
      background-color: #000;
   }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
   .confirm_button {
      margin: 0;
   }
   .eb-content-sub {
      padding: 10px 15px 40px 25px;
      margin: 0 30px 15px 30px;
   }
   .event-wrapper {
      margin: 20px;
   }
}

@media only screen and (max-width: 830px) {
   .acc-trigger {
      margin-right: 40px;
   }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
   /* Project Similar Posts */

   .project-similar li,
   .row .project-similar li {
      width: 50%;
   }
   .eb-content-sub-white {
      margin: 10px 0 auto;
      padding: 10px;
      float: left;
   }
   .eb-content-sub-white h2 {
      padding-bottom: 10px;
   }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
   .radio-inline + .radio-inline {
      margin-left: 0 !important;
   }
   .register-options label {
      float: left;
      margin-right: 25px;
   }
   .margin-left-10 {
      margin-left: 0;
   }
   .margin-bottom-10 {
      margin-bottom: 10px !important;
   }
   /* -------------------------------------------------- */
   /*	Single Post Navigation
      /* -------------------------------------------------- */

   .single-post-nav a {
      font-size: 15px;
   }
   .single-post-nav .prev {
      padding-left: 25px;
   }
   .single-post-nav .next {
      padding-right: 25px;
   }
   .single-post-nav a:after {
      font-size: 24px;
   }
   /* ---------------------------------------------------------------------- */
   /*	Portfolio
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Portfolio Single
         /* -------------------------------------------------- */

   .project-page-header .project-title {
      padding-right: 80px;
      font-size: 35px;
   }
   /* ---------------------------------------------------------------------- */
   /*	Footer
      /* ---------------------------------------------------------------------- */
   /* -------------------------------------------------- */
   /*	Logo In Footer
         /* -------------------------------------------------- */

   .logo-in-footer h1 {
      font-size: 70px;
   }
   /* -------------------------------------------------- */
   /*	Bottom Footer
         /* -------------------------------------------------- */

   .copyright {
      font-size: 11px;
   }
   /*Clinton*/

   .eb-content-sub {
      padding: 15px;
   }
   /* Clinton*/

   .eb-content-sub-white {
      margin: 10px 30px 0 0;
      padding: 10px 5px 0 10px;
      float: left;
   }
   .eb-content-sub-white h2 {
      padding-bottom: 10px;
   }
}
