/* ---------------------------------------------------------------------- */
/*	Reset
/* ---------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Oswald:300,400,700,300);
@import url(//fonts.googleapis.com/css?family=Arimo);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

nav ul,
nav ol {
   list-style: none;
   list-style-image: none;
}

ul {
   list-style: none outside;
}

ol {
   list-style-position: inside;
}

a {
   margin: 0;
   padding: 0;
   font-size: 100%;
   outline: none;
   text-decoration: none;
   background: transparent;
   vertical-align: baseline;
}

a,
a > * {
   text-decoration: none;
   color: #5b5e60;
}

a:hover {
   color: #00c2a9;
}

.not-ie a {
   -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
   transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

img {
   border: 0;
   height: auto;
   max-width: 100%;
   -ms-interpolation-mode: bicubic;
}

.fancy {
   line-height: 0.5;
   text-align: center;
   padding: 25px 0;
}

.fancy span {
   display: inline-block;
   position: relative;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
   color: #cc0023;
}

.fancy span:before,
.fancy span:after {
   content: "";
   position: absolute;
   height: 5px;
   border-top: 1px solid #cc0023;
   top: 2px;
   width: 360px;
}

.fancy span:before {
   right: 100%;
   margin-right: 15px;
}

.fancy span:after {
   left: 100%;
   margin-left: 15px;
}
/* ---------------------------------------------------------------------- */
/*	Basic Elements
/* ---------------------------------------------------------------------- */

body {
   background-color: #f5f5f5;
   color: #777;
   font-weight: 300;
   font-size: 15px;
   font-family: 'Raleway', sans-serif;
   line-height: 1.75em;
   -webkit-font-smoothing: antialiased;
   /* Fix for webkit rendering */

   -webkit-text-size-adjust: 100%;
}
/* -------------------------------------------------- */
/*	Clearfix
   /* -------------------------------------------------- */

.clear {
   clear: both;
   display: block;
   height: 0;
   overflow: hidden;
   visibility: hidden;
   width: 0;
}

.clearfix:after {
   clear: both;
   display: block;
   visibility: hidden;
   height: 0;
   content: ".";
}
/* -------------------------------------------------- */
/*	General Classes
   /* -------------------------------------------------- */

.align-center {
   text-align: center;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

img.alignleft {
   margin-right: 20px;
}

img.alignright {
   margin-left: 20px;
}

.hide {
   display: none;
}

.show {
   display: block;
}

.invisible {
   visibility: hidden;
}

.affix {
   position: fixed;
}
/* -------------------------------------------------- */
/*	Typography
   /* -------------------------------------------------- */

p {
   margin: 0 0 1.5em;
   padding: 0;
   line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-bottom: 15px;
   color: #5b5e60;
   font-family: 'Roboto', sans-serif;
   line-height: 1.3em;
   font-weight: normal;
}

h1 {
   font-size: 36px;
}

h2 {
   font-size: 24px;
}

h3 {
   font-size: 20px;
}

h4 {
   font-size: 18px;
}

h5 {
   font-size: 16px;
}

h6 {
   font-size: 14px;
}

::-moz-selection {
   background-color: #00c2a9;
   color: #fff;
   text-shadow: none;
}

::selection {
   background-color: #00c2a9;
   color: #fff;
   text-shadow: none;
}

.highlight {
   padding: 0 3px;
   background-color: #00c2a9;
   color: #fff;
   text-shadow: none;
}

blockquote {
   color: #aeaeae;
}

li blockquote {
   font-size: 24px;
}

blockquote p {
   margin-bottom: .7em;
}

blockquote.type-1 {
   font-size: 22px;
}

blockquote.type-1:before {
   display: block;
   margin-bottom: 15px;
   content: "\e86c";
   font-size: 36px;
   font-family: 'fontello';
}

.ie8 blockquote.type-1:before {
   text-align: center;
}

blockquote.type-1 p {
   line-height: 1.6em;
}

blockquote.type-2 {
   padding-left: 20px;
   border-left: 5px solid #ebebeb;
   font-size: 18px;
   font-style: italic;
}
/* -------------------------------------------------- */
/*	Dropcap
   /* -------------------------------------------------- */

.dropcap::first-letter {
   display: block;
   float: left;
   margin: 10px 15px 0 0;
   font-weight: 700;
   font-size: 48px;
}
/* -------------------------------------------------- */
/*	Loader
   /* -------------------------------------------------- */

.loader {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 200;
   width: 100%;
   height: 100%;
   background: #fff;
}
/* -------------------------------------------------- */
/*	Images
   /* -------------------------------------------------- */

.single-image {
   position: relative;
   display: block;
   margin: 0;
   cursor: pointer;
   font-size: 0;
   -webkit-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
}

.image-extra .single-image {
   display: inline-block;
   margin: 5px 5px 0;
}

.touch .image-extra .single-image {
   pointer-events: none;
}

.touch .touched .single-image {
   pointer-events: auto;
}

.single-image img {
   display: block;
}
/* Team Plus Icon */

.team-plus-icon .curtain {
   position: absolute;
   z-index: 5;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   text-align: center;
   opacity: 0;
   filter: alpha(opacity 0);
   -webkit-transition: all .3s ease-in;
   transition: all .3s ease-in;
}

.team-plus-icon .curtain:after {
   position: absolute;
   left: 50%;
   top: 50%;
   display: block;
   margin: -30px 0 0 -30px;
   width: 60px;
   height: 60px;
   color: #fff;
   text-align: center;
   font-size: 28px;
   font-family: 'fontello';
   line-height: 60px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -webkit-transition: all .3s ease-in;
   transition: all .3s ease-in;
}

.team-plus-icon .curtain:after {
   background-color: #00c2a9;
   background-color: rgba(0, 194, 169, .8);
   font-size: 38px;
   content: '\e9a1';
}

.team-plus-icon:hover .curtain {
   visibility: visible;
   opacity: 1;
}

.not-ie .open .team-plus-icon .curtain:after {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
/* -------------------------------------------------- */
/*	Dividers
   /* -------------------------------------------------- */

.divider {
   margin-top: 70px;
   margin-bottom: 70px;
   height: 1px;
   background-color: #ececec;
}
/* -------------------------------------------------- */
/*	Forms
   /* -------------------------------------------------- */

.contact-form button,
.contact-form input[type="button"],
.contact-form input[type="reset"],
.contact-form input[type="submit"] {
   cursor: pointer;
   -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   padding: 0;
   border: 0;
}

button,
input,
select,
textarea {
   margin: 0;
   border: none;
   vertical-align: baseline;
   font-size: 100%;
}

.contact-form button {
   display: inline-block;
   margin-bottom: 15px;
   padding: 6px 13px;
   outline: none;
   background-color: transparent;
   color: #fff;
   vertical-align: baseline;
   text-align: center;
   text-decoration: none;
   font: 11px/1.5 Arial;
   cursor: pointer;
}

label {
   display: inline-block;
   cursor: pointer;
}

input,
textarea,
select,
button {
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form input[type="datetime"],
.contact-form input[type="datetime-local"],
.contact-form input[type="date"],
.contact-form input[type="month"],
.contact-form input[type="time"],
.contact-form input[type="week"],
.contact-form input[type="number"],
.contact-form input[type="email"],
.contact-form input[type="url"],
.contact-form input[type="search"],
.contact-form input[type="tel"],
.contact-form input[type="color"],
.contact-form textarea {
   display: inline-block;
   padding: 8px 10px;
   width: 100%;
   outline: none;
   border-width: 1px;
   border-style: solid;
   border-color: #dcdcdc;
   border-color: rgba(0, 0, 0, .135);
   background-color: transparent;
   color: #999;
   font-size: 12px;
   font-family: 'Roboto', sans-serif;
   -webkit-box-shadow: none;
   box-shadow: none;
   -webkit-appearance: none;
   appearance: none;
}

.parallax input[type="text"],
.parallax input[type="password"],
.parallax input[type="datetime"],
.parallax input[type="datetime-local"],
.parallax input[type="date"],
.parallax input[type="month"],
.parallax input[type="time"],
.parallax input[type="week"],
.parallax input[type="number"],
.parallax input[type="email"],
.parallax input[type="url"],
.parallax input[type="search"],
.parallax input[type="tel"],
.parallax input[type="color"],
.parallax textarea,
.parallax select {
   border-color: #bbb;
   border-color: rgba(207, 207, 207, .33);
   color: #bbb;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
   border-color: #66afe9;
}

.parallax input[type="text"]:focus,
.parallax input[type="password"]:focus,
.parallax input[type="datetime"]:focus,
.parallax input[type="datetime-local"]:focus,
.parallax input[type="date"]:focus,
.parallax input[type="month"]:focus,
.parallax input[type="time"]:focus,
.parallax input[type="week"]:focus,
.parallax input[type="number"]:focus,
.parallax input[type="email"]:focus,
.parallax input[type="url"]:focus,
.parallax input[type="search"]:focus,
.parallax input[type="tel"]:focus,
.parallax input[type="color"]:focus,
.parallax textarea:focus,
.parallax select:focus {
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
   resize: both;
   min-height: 180px;
   min-width: 100%;
   max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
   margin: 4px 0 0;
   line-height: normal;
}

input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
   width: auto;
}

.wrong-data {
   border-color: #fe5214;
}
/* Fix for Mobile Safari */

input[type="checkbox"] {
   -webkit-appearance: checkbox;
}

input[type="radio"] {
   -webkit-appearance: radio;
}

Chrome,
Safari input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   color: #999;
}

Firefox input:-moz-placeholder,
textarea:-moz-placeholder {
   color: #999;
}
/* ---------------------------------------- */
/*	Contact and Comments Forms
   /* ---------------------------------------- */

.comments-form {
   margin-bottom: 30px;
}

.input-block {
   margin-bottom: 10px;
}

.contact-form .submit i {
   font-size: 30px;
}

.contact-form iframe {
   display: inline-block;
   vertical-align: middle;
}

.contact-form input.verify {
   vertical-align: top;
   width: 80px;
}

.captcha-frame {
   margin: 0;
   border: none;
}
/* HTML5 Validation Styles */

.comments-form input:required:valid,
.contact-form input:required:valid,
.comments-form textarea:required:valid,
.contact-form textarea:required:valid {
   border-color: #00c2a9;
}

.comments-form input:focus:invalid,
.contact-form input:focus:invalid,
.comments-form textarea:focus:invalid,
.contact-form textarea:focus:invalid {
   border-color: #e27152;
}
/* HTML5 Validation Styles for Parallax */

.parallax .comments-form input:required:valid,
.parallax .contact-form input:required:valid,
.parallax .comments-form textarea:required:valid,
.parallax .contact-form textarea:required:valid {
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 194, 169, .7);
   box-shadow: 0 0 10px 1px rgba(0, 194, 169, .7);
}

.parallax .comments-form input:focus:invalid,
.parallax .contact-form input:focus:invalid,
.parallax .comments-form textarea:focus:invalid,
.parallax .contact-form textarea:focus:invalid {
   -webkit-box-shadow: 0 0 10px 1px rgba(226, 113, 82, .7);
   box-shadow: 0 0 10px 1px rgba(226, 113, 82, .7);
}
/* -------------------------------------------------- */
/*	Buttons
   /* -------------------------------------------------- */

.button {
   display: inline-block;
   margin-bottom: 15px;
   padding: 6px 20px;
   outline: none;
   border-width: 1px;
   border-style: solid;
   border-color: transparent;
   background-color: transparent;
   color: #fff;
   vertical-align: baseline;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 14px;
   cursor: pointer;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.button:hover {
   text-decoration: none;
}

.button.middle {
   padding: 10px 24px;
   font-size: 17px;
}

.button.large {
   padding: 15px 30px;
   font-size: 20px;
}

.button.default {
   border-color: #cfcfcf;
   color: #1f1f1f;
}

.button.default:hover {
   border-color: transparent;
   background-color: #fff;
   color: #cc0023;
}

.button.submit {
   margin-bottom: 20px;
   padding: 2px 20px;
   width: 100%;
}

a.red:link,
a.red:visited,
a.red:active,
a.red:focus {
   background-color: #cc0023;
   color: #fff;
   text-decoration: none;
}

a.red:hover {
   border-color: #cc0023;
   background-color: #fff;
   color: #cc0023;
}

.parallax .button.red:hover {
   border-color: transparent;
}
/* ---------------------------------------------------------------------- */
/*	Header
/* ---------------------------------------------------------------------- */

#header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99;
   width: 100%;
   border-bottom: 1px solid #ececec;
   background-color: transparent;
   line-height: 0;
   -webkit-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: background-color .25s ease, height .25s ease;
   transition: background-color .25s ease, height .25s ease;
}

.home #header,
#header.header-shrink {
   border-bottom-width: 0;
}

#header.transparent {
   background-color: transparent;
}

#header.header-shrink {
   background-color: #1f1f1f;
}

.header-in {
   margin: 0 auto;
   width: 90%;
   text-align: justify;
}

.not-ie .header-in {
   font: 0/0 a;
}

@media screen and (min-width: 0\0) {
   .not-ie .header-in {
      font-size: 15px;
      transition: height .25s ease;
   }
}

.ie8 .header-shrink .header-in {
   font-size: 15px;
}

.header-in:after {
   display: inline-block;
   width: 100%;
   vertical-align: top;
   content: "";
}
/* -------------------------------------------------- */
/*	Logo
   /* -------------------------------------------------- */

#logo,
#navigation {
   display: inline-block;
   vertical-align: middle;
}

#logo {
   margin-bottom: 0;
   font-family: 'Julius Sans One', sans-serif;
   -webkit-transition: font-size .25s ease;
   transition: font-size .25s ease;
   float: left;
}

.transparent #logo {
   font-size: 44px;
}

.transparent #logo a {
   color: #fff;
}

.header-shrink #logo {
   font-size: 28px;
   margin-top: 0;
}

.header-shrink #logo a {
   color: #fff;
}
/* -------------------------------------------------- */
/*	Main Navigation
   /* -------------------------------------------------- */

.transparent .navigation {
   border-bottom: 1px solid #cfcfcf;
   border-bottom: 1px solid rgba(207, 207, 207, .4);
}

.header-shrink .navigation {
   border-bottom-width: 0;
}

.navigation {
   float: right;
}

.navigation > ul > li {
   position: relative;
   display: block;
   float: left;
   /*border-right:#363636 solid 1px;*/
}

.navigation > ul > li.last {
   border-right: none;
}

.navigation > ul > li i {
   color: #fff;
}

.navigation > ul > li > a {
   display: block;
   margin: 0;
   padding: 25px 15px;
   color: #fff;
   text-transform: uppercase;
   font-size: 11px;
   line-height: 1em;
   -webkit-transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
   transition: padding .25s ease, color 100ms linear, background-color .25s ease-out;
}

.navigation > ul > li > a:hover {
   color: #ff4629 !important;
   text-decoration: none;
}

.navigation > ul > li > a.current {
   color: #ff4629;
}

.navigation > ul > .downarrowclass > a:after {
   margin-left: 6px;
   color: #fff;
   font-size: 12px;
   font-family: 'fontello';
   content: '\e8ba';
   line-height: 1em;
}

.transparent .navigation > ul > li > a,
.transparent .navigation > ul > li > a:after {
   color: #ff4629;
}

@media only screen and (min-width: 1025px) {
   .transparent .navigation > ul > li > a {
      padding: 90px 20px 35px;
   }
   .transparent .navigation > ul > li.downarrowclass > a {
      padding: 90px 15px 35px 20px;
   }
}

@media only screen and (min-width: 993px) {
   .header-shrink .navigation > ul > li > a {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      color: #fff;
   }
   .header-shrink .navigation > ul > li > a:after {
      color: #fff;
   }
}

.navigation a {
   font-weight: 400;
   font-family: 'Raleway', sans-serif;
}

.navigation > ul > li:hover > a,
.navigation > ul > .current-menu-item > a,
.navigation > ul > .current-menu-parent > a,
.navigation > ul > .current-menu-ancestor > a,
.navigation > ul > .current_page_item > a,
.navigation > ul > .current_page_parent > a,
.navigation > ul > .current_page_ancestor > a {
   background-color: transparent;
   color: #ff4629;
}

.navigation > ul > li:hover > a:after,
.navigation > ul > .current-menu-item > a:after,
.navigation > ul > .current-menu-parent > a:after,
.navigation > ul > .current-menu-ancestor > a:after,
.navigation > ul > .current_page_item > a:after,
.navigation > ul > .current_page_parent > a:after,
.navigation > ul > .current_page_ancestor > a:after {
   color: #fff;
}

.transparent .navigation > ul > li:hover > a,
.transparent .navigation > ul > .current-menu-item > a,
.transparent .navigation > ul > .current-menu-parent > a,
.transparent .navigation > ul > .current-menu-ancestor > a,
.transparent .navigation > ul > .current_page_item > a,
.transparent .navigation > ul > .current_page_parent > a,
.transparent .navigation > ul > .current_page_ancestor > a {
   background-color: #00c2a9;
   background-color: rgba(0, 194, 169, .7);
}

.header-shrink .navigation > ul > li:hover > a,
.header-shrink .navigation > ul > .current-menu-item > a,
.header-shrink .navigation > ul > .current-menu-parent > a,
.header-shrink .navigation > ul > .current-menu-ancestor > a,
.header-shrink .navigation > ul > .current_page_item > a,
.header-shrink .navigation > ul > .current_page_parent > a,
.header-shrink .navigation > ul > .current_page_ancestor > a {
   background-color: transparent;
   color: #ff4629;
   text-decoration: none;
}

.header-shrink .navigation > ul > li:hover > a:after,
.header-shrink .navigation > ul > .current-menu-item > a:after,
.header-shrink .navigation > ul > .current-menu-parent > a:after,
.header-shrink .navigation > ul > .current-menu-ancestor > a:after,
.header-shrink .navigation > ul > .current_page_item > a:after,
.header-shrink .navigation > ul > .current_page_parent > a:after,
.header-shrink .navigation > ul > .current_page_ancestor > a:after {
   color: #ff4629;
}
/* start current-menu-item-1 for inner pages orange link */

.navigation > ul > .current-menu-item-1 > a,
{
   background-color: transparent;
   color: #ff4629;
}

.navigation > ul > .current-menu-item-1 > a:after {
   color: #fff;
}

.transparent .navigation > ul > .current-menu-item-1 > a {
   background-color: #00c2a9;
   background-color: rgba(0, 194, 169, .7);
}

.header-shrink .navigation > ul > .current-menu-item-1 > a {
   background-color: transparent;
   color: #ff4629;
   text-decoration: none;
}

.header-shrink .navigation > ul > .current-menu-item-1 > a:after,
{
   color: #ff4629;
}
/* current-menu-item-1 for inner pages orange link end */
/* Dropdown */

.navigation ul ul {
   position: absolute;
   display: none;
   padding: 10px 0;
   width: 220px;
   background-color: #000;
   background-color: rgba(0, 0, 0, .8);
}

.navigation ul ul li {
   position: relative;
}

.navigation ul ul li a {
   display: block;
   padding: 7px 20px;
   color: #fff;
   text-transform: uppercase;
   font-size: 11px;
   line-height: 1.5em;
   text-align: left;
}

.navigation ul ul li a.current {
   color: #ff4629;
}

.navigation ul ul .rightarrowclass > a:after {
   margin-left: 15px;
   color: #fff;
   font-size: 12px;
   font-family: 'fontello';
   content: '\e8b8';
   line-height: 1em;
}

.navigation ul ul a:hover,
.navigation ul ul .current-menu-item > a,
.navigation ul ul .current-menu-parent > a,
.navigation ul ul .current-menu-ancestor > a,
.navigation ul ul .current_page_item > a,
.navigation ul ul .current_page_parent > a,
.navigation ul ul .current_page_ancestor > a {
   color: #ff4629;
   text-decoration: none;
}

@media only screen and (min-width: 993px) {
   .navigation ul ul ul {
      top: 0;
      left: 170px;
      margin-top: -10px;
   }
}
/* Responsive Button */

.responsive-nav-button {
   display: none;
   width: 40px;
   height: 40px;
   background-color: #000;
   text-align: center;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   font-family: 'fontello';
   line-height: 40px;
   vertical-align: middle;
   margin-top: 10px;
   float: right;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.responsive-nav-button:after {
   content: "\ed38";
   color: #fff;
}

.responsive-nav-button:hover:after,
.responsive-nav-button.active:after {}
/* ---------------------------------------------------------------------- */
/*	Slider
/* ---------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
   .keydown {
      position: absolute;
      bottom: 100px;
      left: 50%;
      z-index: 10;
      margin-left: -66px;
      width: 132px;
      font-size: 0;
      text-align: center;
      -webkit-transition: opacity .35s ease;
      transition: opacity .35s ease;
      -webkit-animation: fadeOutKeydown .35s ease 10s both;
      animation: fadeOutKeydown .35s ease 10s both;
   }
   .ie8 .keydown {
      display: none;
   }
   .keydown li {
      display: inline-block;
      margin: 2px;
      width: 40px;
      height: 40px;
      border: 1px solid #cfcfcf;
      background-color: transparent;
      vertical-align: top;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      -webkit-border-radius: 6px;
      border-radius: 6px;
   }
   .keydown li.left {
      -webkit-animation: actionKey 1s ease 4s both;
      animation: actionKey 1s ease 4s both;
   }
   .keydown li.right {
      -webkit-animation: actionKey 1s ease 4.5s both;
      animation: actionKey 1s ease 4.5s both;
   }
   .keydown li.up {
      display: block;
      margin: 2px auto;
      -webkit-animation: actionKey 1s ease 5s both;
      animation: actionKey 1s ease 5s both;
   }
   .keydown li.down {
      -webkit-animation: actionKey 1s ease 5.5s both;
      animation: actionKey 1s ease 5.5s both;
   }
   .keydown li:before {
      color: #fff;
      font-size: 18px;
      font-family: 'fontello';
      line-height: 40px;
   }
   .keydown .left:before {
      content: '\ea07';
   }
   .keydown .right:before {
      content: '\ea08';
   }
   .keydown .up:before {
      content: '\ea09';
   }
   .keydown .down:before {
      content: '\ea06';
   }
}

@-webkit-keyframes actionKey {
   0% {
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 transparent;
   }
   50% {
      border-color: transparent;
      background-color: #00c2a9;
      -webkit-box-shadow: 0 0 8px rgba(0, 194, 169, .5);
   }
   100% {
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 transparent;
   }
}

@keyframes actionKey {
   0% {
      background-color: transparent;
      box-shadow: 0 0 0 transparent;
   }
   50% {
      border-color: transparent;
      background-color: #00c2a9;
      box-shadow: 0 0 8px rgba(0, 194, 169, .5);
   }
   100% {
      background-color: transparent;
      box-shadow: 0 0 0 transparent;
   }
}

@-webkit-keyframes fadeOutKeydown {
   to {
      opacity: 0;
   }
}

@keyframes fadeOutKeydown {
   to {
      opacity: 0;
   }
}
/* -------------------------------------------------- */
/* Slides
   /* -------------------------------------------------- */

#slides {
   position: relative;
}

.fullscreen-image {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
}

.no-touch .fullscreen-image {
   background-attachment: fixed;
   background-size: cover;
}

.header-text-entry {
   display: table;
   width: 100%;
   height: 100%;
}

.header-text {
   position: relative;
   z-index: 2;
   display: table-cell;
   margin: auto;
   vertical-align: middle;
   text-align: center;
}
/* Custom Styles */

.header-text h1,
.header-text h2,
.header-text h3,
.header-text h4,
.header-text h5,
.header-text h6 {
   color: #fff;
   font-weight: 300;
   line-height: 1em;
   z-index: 2;
}

.header-text h1 {
   margin-bottom: 0;
   font-size: 100px;
   font-family: 'Julius Sans One', sans-serif;
   text-transform: uppercase;
}
/* Slides Pagination */

.slides-pagination {
   position: absolute;
   bottom: 10px;
   text-align: center;
   width: 100%;
   z-index: 5;
   font-size: 0;
}

.slides-pagination a {
   display: inline-block;
   margin: 2px 7px;
   width: 7px;
   height: 7px;
   border-width: 1px;
   border-style: solid;
   border-color: transparent;
   background-color: #fff;
   cursor: pointer;
   vertical-align: middle;
}

.slides-pagination a {
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -webkit-transition: all .25s linear;
   transition: all .25s linear;
}

.slides-pagination .current {
   margin: 0 7px;
   width: 11px;
   height: 11px;
   border-color: #fff;
   background-color: transparent;
   cursor: default;
}
/* Slides Directional Nav */

.slides-navigation a {
   position: absolute;
   top: 50%;
   z-index: 1000;
   margin-top: -20px;
   opacity: 0;
   font-size: 0;
   -webkit-transition: opacity .25s ease;
   transition: opacity .25s ease;
}

.touch .slides-navigation a,
#slides:hover .slides-navigation a {
   opacity: 1;
}

.ie8 .slides-navigation a {
   visibility: hidden;
}

.ie8 #slides:hover .slides-navigation a {
   visibility: visible;
}

.slides-navigation .prev {
   left: 35px;
}

.slides-navigation .next {
   right: 35px;
}

.slides-navigation a:after {
   color: #fff;
   vertical-align: middle;
   text-decoration: inherit;
   font-weight: normal;
   font-style: normal;
   font-size: 48px;
   line-height: 59px;
   font-family: 'fontello';
   cursor: pointer;
}

.slides-navigation a:hover:after {
   color: #00c2a9;
}

.slides-navigation .prev:after {
   content: "\ea07";
}

.slides-navigation .next:after {
   content: "\ea08";
}
/* ---------------------------------------------------------------------- */
/*	Wrapper
/* ---------------------------------------------------------------------- */

#wrapper {
   width: 100%;
}

#content {
   padding-top: 40px;
}
/* ---------------------------------------------------------------------- */
/*	Main
/* ---------------------------------------------------------------------- */

.sbr #main {
   float: left;
}

.sbl #main {
   float: right;
}
/* ---------------------------------------------------------------------- */
/*	Section
   /* ---------------------------------------------------------------------- */

.page {
   width: 100%;
}

.section {
   position: relative;
   overflow: hidden;
   width: 100%;
   z-index: 2;
   padding: 60px 0 0 0;
   margin-top: -60px;
}

.padding-top-off {
   padding-top: 0;
}

.padding-bottom-off {
   padding-bottom: 0;
}

.padding-off {
   padding: 0;
}

.padding-top-half-off {
   padding-top: 50px;
}

.border {
   border-bottom: 1px solid #ececec;
}
/* -------------------------------------------------- */
/* Slogan Title Group
      /* -------------------------------------------------- */

.section-title {
   position: relative;
   margin-bottom: 70px;
   padding-bottom: 15px;
}

.section-title:after {
   position: absolute;
   bottom: 0;
   left: 50%;
   margin-left: -7%;
   width: 14%;
   height: 2px;
   background-color: #ececec;
   content: "";
}

.section-title h1 {
   margin-bottom: 20px;
   color: #00c2a9;
   text-transform: uppercase;
   font-weight: 100;
   font-size: 60px;
   line-height: 1.1em;
}

.section-title h2 {
   text-transform: uppercase;
   font-weight: 300;
}
/* Fix for Parallax */

.parallax .section-title:after {
   background-color: #cfcfcf;
   background-color: rgba(207, 207, 207, .4);
}

.parallax .section-title h2 {
   color: #fff;
}
/* -------------------------------------------------- */
/* Slogan Group
      /* -------------------------------------------------- */

.slogan {
   margin-bottom: 80px;
}

.slogan h1 {
   font-size: 54px;
   font-weight: 100;
}

.slogan h1 span {
   color: #00c2a9;
   font-weight: 400;
}

.slogan h2 {
   color: #aeaeae;
   font-weight: 300;
}
/* -------------------------------------------------- */
/* Content Title
      /* -------------------------------------------------- */

.content-title {
   margin-bottom: 25px;
   font-weight: 300;
   text-transform: uppercase;
}
/* -------------------------------------------------- */
/* Parallax
      /* -------------------------------------------------- */

.parallax {
   z-index: 0;
   background-color: transparent;
}
/* BG Overlay Grid  */

.parallax-overlay {
   position: absolute;
   z-index: 0;
   left: 0;
   top: 0;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   background-image: url(../images/overlay-pattern.png);
   background-repeat: repeat;
}

#slides .parallax-overlay {
   z-index: 1;
}
/* BG Color for Image Parallax */

.bg-turquoise-color {
   background-color: #00c2a9;
}

.bg-dark-color {
   background-color: #000;
}
/* BG Color */

.bg-gray-color {
   background-color: #f8f8f8;
}
/* BG Image */

.full-bg-image {
   position: absolute;
   z-index: -1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.no-touch .full-bg-image {
   background-attachment: fixed;
   background-size: cover;
}

.bg-turquoise-color .full-bg-image {
   opacity: .07;
   filter: alpha(opacity 7);
}

.bg-dark-color .full-bg-image {
   opacity: 0.6;
   filter: alpha(opacity 60);
}

.parallax-bg-1 .full-bg-image {
   background-image: url(../images/parallax/parallax-1.jpg);
}

.parallax-bg-2 .full-bg-image {
   background-image: url(../images/parallax/parallax-2.jpg);
}

.parallax-bg-3 .full-bg-image {
   background-image: url(../images/parallax/parallax-3.jpg);
}

.parallax-bg-4 .full-bg-image {
   background-image: url(../images/parallax/parallax-4.jpg);
}
/* Mobile Video Image */

.mobile-video-image .full-bg-image {
   display: none;
   background-image: url(../images/temp/mobile-video-image.jpg);
}

.touch .mobile-video-image .full-bg-image {
   display: block;
}
/* Bg Video */

.mbYTP_wrapper {
   z-index: -2 !important;
}

.mb-wrapper {
   position: fixed;
   z-index: -99;
   min-width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   overflow: hidden;
   opacity: 1;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: opacity 200ms;
   transition: opacity 200ms;
}

.mb-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -2;
   width: 120%;
   height: 120%;
   margin-top: -10%;
   margin-left: -10%;
   overflow: hidden;
   opacity: 1;
}
/* -------------------------------------------------- */
/* Video Full Container
      /* -------------------------------------------------- */

.video-full-container {
   display: table;
   width: 100%;
   background: url(../images/home.png) no-repeat;
   background-size: cover;
   padding-bottom: 0;
}

.video-full-entry {
   display: inline-block;
   padding: 70px 0;
   width: 100%;
}

.video-full-container > .video-full-entry {
   position: relative;
   display: table-cell;
   margin: auto;
   padding: 0 0 260px;
   vertical-align: middle;
}

.video-title {
   margin-bottom: 50px;
   font-size: 64px;
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-weight: 400;
}

.parallax .video-title {
   color: #1f1f1f;
}

.video-full-entry .button {
   margin: 0 5px 15px;
}
/* -------------------------------------------------- */
/* Team
      /* -------------------------------------------------- */

.team-member {
   position: relative;
   overflow: hidden;
   font-size: 0;
}

.team-contents {
   width: 50000px;
}

.team-member article {
   overflow: hidden;
   float: left;
   display: block;
   margin: 0 20px;
   vertical-align: top;
   -webkit-transition: width .35s ease;
   transition: width .35s ease;
}

.contents {
   width: 250px;
   overflow: hidden;
}

.team-info {
   float: left;
   width: 250px;
}

.team-image {
   margin-bottom: 10px;
   min-height: 1px;
}

.team-group {
   padding: 25px 20px;
   border: 1px solid #e0e0e0;
   background-color: #fcfcfc;
   -webkit-transition: all .3s ease-in;
   transition: all .3s ease-in;
}

.team-member article:hover .team-group,
.open .team-group {
   border-color: transparent;
   background-color: #00c2a9;
}

.team-title {
   margin-bottom: 3px;
   text-transform: uppercase;
   font-size: 24px;
   font-family: 'Roboto Condensed', sans-serif;
}

.team-position {
   margin-bottom: 5px;
   color: #aeaeae;
   font-size: 16px;
}

.team-title,
.team-position {
   -webkit-transition: color .3s ease-in;
   transition: color .3s ease-in;
}

.team-member article:hover .team-title,
.team-member article:hover .team-position,
.open .team-title,
.open .team-position {
   color: #fff;
}

.team-content {
   margin-left: 260px;
   border: 1px solid #e0e0e0;
   background-color: #fcfcfc;
   font-size: 15px;
}

.team-entry {
   padding: 20px 25px;
   width: 400px;
}
/* Directional Nav */

.team-nav a {
   position: absolute;
   top: 50%;
   z-index: 10;
   display: block;
   overflow: hidden;
   margin-top: -35px;
   width: 35px;
   height: 70px;
   border: 1px solid #dcdcdc;
   background-color: #fff;
   background-color: rgba(255, 255, 255, .75);
   text-align: center;
   font-size: 0;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.team-nav .prev {
   left: 30px;
}

.team-nav .next {
   right: 30px;
}

.team-nav a:hover {
   border-color: transparent;
   background-color: #00c2a9;
}

.team-nav a:before {
   display: block;
   color: #00c2a9;
   font-size: 30px;
   font-family: 'fontello';
   line-height: 68px;
   -webkit-transition: color .25s ease;
   transition: color .25s ease;
}

.team-nav .prev:before {
   content: '\e8b7';
}

.team-nav .next:before {
   content: '\e8b8';
}

.team-nav a:hover:before {
   color: #fff;
}
/* -------------------------------------------------- */
/* Counter Box
      /* -------------------------------------------------- */

.counter-box {
   text-align: center;
}

.counter {
   display: inline-block;
   margin: 0 20px;
   width: 150px;
   text-align: center;
   font-size: 0;
}

.counter .count {
   margin-bottom: 20px;
   height: 150px;
   border: 1px solid #c8c8c8;
   display: block;
   background-color: rgba(255, 255, 255, .1);
   color: #00c2a9;
   font-weight: 300;
   font-size: 70px;
   font-family: 'Roboto Condensed', sans-serif;
   line-height: 145px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.counter .details {
   color: #777;
   font-family: 'Roboto Condensed', sans-serif;
}

.parallax .counter .details {
   color: #fff;
}
/* -------------------------------------------------- */
/* Twitter
      /* -------------------------------------------------- */

.tweet .tweets {
   text-align: center;
}

.tweet .tweets li {
   font-weight: 300;
}

.parallax .tweet .tweets li {
   color: #fff;
}

.ie8 .tweet .tweets li {
   background-color: transparent !important;
}

.sidebar-tweet .tweets li {
   position: relative;
   margin-bottom: 15px;
   padding-left: 45px;
}

.sidebar-tweet .tweets li:before {
   position: absolute;
   top: 5px;
   left: 0;
   color: #1fc3ff;
   font-size: 30px;
   font-family: 'fontello';
   content: '\e980';
}

.tweet .tweets .tweet_text {
   position: relative;
   margin-bottom: 25px;
   padding: 0 10% 40px;
   line-height: 1.75em;
   font-size: 24px;
   text-align: center;
}

.tweet .tweet_text:before {
   display: block;
   margin-bottom: 30px;
   font-size: 50px;
   font-family: 'fontello';
   content: '\e980';
   text-align: center;
}

.tweet .tweets .tweet_text:after {
   position: absolute;
   bottom: 0;
   left: 50%;
   margin-left: -6%;
   width: 12%;
   height: 1px;
   background-color: #ececec;
   content: '';
}

.parallax .tweet .tweets .tweet_text:after {
   background-color: #fff;
   background-color: rgba(255, 255, 255, .35);
}

.tweet .tweet_time {
   font-size: 16px;
}

.tweets a {
   color: #00c2a9;
}

.sidebar-tweet .tweet_time a {
   color: #aeaeae;
}
/* Tweets Navigation */

.tweets-control-nav {
   padding: 10px 0 0;
   text-align: center;
}

.tweets-control-nav a {
   position: relative;
   display: inline-block;
   margin: 0 3px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   background-color: #ececec;
   font-size: 0;
   -webkit-transition: background-color .25s linear;
   transition: background-color .25s linear;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.tweets-control-nav .activeSlide {
   background-color: #777;
}

.parallax .tweets-control-nav a {
   background-color: #ececec;
   background-color: rgba(255, 255, 255, .5);
}

.parallax .tweets-control-nav .activeSlide {
   background-color: #fff;
}
/* -------------------------------------------------- */
/*	Clients
      /* -------------------------------------------------- */

ul.clients-items {
   font-size: 0;
   text-align: center;
}

ul.clients-items li {
   display: inline-block;
   padding: 0 2%;
   vertical-align: middle;
}
/* -------------------------------------------------- */
/* Pricing Tables
      /* -------------------------------------------------- */

.simple-pricing-table {
   font-size: 0;
}

.simple-pricing-table * {
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.simple-pricing-table .column {
   position: relative;
   display: inline-block;
   margin-left: -1px;
   margin-top: -1px;
   width: 25%;
   border: 1px solid #cfcfcf;
   background-color: #fff;
   text-align: center;
   -webkit-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.simple-pricing-table.col-2 .column {
   width: 50%;
}

.simple-pricing-table.col-3 .column {
   width: 33.33333333333333%;
}

.simple-pricing-table.col-4 .column {
   width: 25%;
}

.simple-pricing-table .column:hover,
.simple-pricing-table .featured {
   z-index: 11;
   border-color: transparent;
   background-color: #00c2a9;
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
}

.simple-pricing-table .title {
   margin: 0;
   padding: 27px 5px;
   text-transform: uppercase;
   font-weight: 300;
}

.simple-pricing-table .column:hover .title,
.simple-pricing-table .featured .title {
   color: #fff;
}

.simple-pricing-table .price {
   padding: 28px 0 15px;
   border-top: 1px solid #e7e7e7;
   background-color: #f7f7f7;
   border-bottom: 1px solid #e7e7e7;
}

.simple-pricing-table .column:hover .price,
.simple-pricing-table .featured .price {
   border-color: #5fd9c9;
   background-color: #1ac8b2;
}

.simple-pricing-table .cost {
   margin: 0;
   font-weight: 300;
   font-size: 44px;
   line-height: .7em;
}

.simple-pricing-table .column:hover .cost,
.simple-pricing-table .featured .cost {
   color: #fff;
}

.simple-pricing-table .description {
   color: #a8a8a8;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 11px;
}

.simple-pricing-table .column:hover .description,
.simple-pricing-table .featured .description {
   color: #fff;
}

.simple-pricing-table .features {
   padding: 0 25px;
}

.simple-pricing-table .features li {
   position: relative;
   padding: 9px 20px;
   border-top: 1px solid #ebebeb;
   font-weight: 300;
   font-size: 15px;
}

.simple-pricing-table .features li:first-child {
   border: none;
}

.simple-pricing-table .column:hover .features li,
.simple-pricing-table .featured .features li {
   border-top-color: #4dd4c3;
   color: #fff;
}

.simple-pricing-table .footer {
   padding: 30px 0;
   border-top: 1px solid #e9e9e9;
   background-color: #fcfcfc;
   -webkit-border-radius: 0 0 6px 6px;
   border-radius: 0 0 6px 6px;
}

.simple-pricing-table .column:hover .footer,
.simple-pricing-table .featured .footer {
   border-top-color: #5fd9c9;
   background-color: #1ac8b2;
}

.simple-pricing-table .button {
   margin: 0;
}

.simple-pricing-table .column:hover .button,
.simple-pricing-table .featured .button {
   border-color: transparent;
   background-color: #fff;
   color: #00c2a9;
}
/* ---------------------------------------------------------------------- */
/*	Blog
/* ---------------------------------------------------------------------- */

.entry {
   margin-bottom: 60px;
}

.main-entry {
   padding-bottom: 60px;
   border-bottom: 1px solid #ececec;
}

.entry.single {
   margin-bottom: 0;
   border-bottom-width: 0;
}

.entry-image {
   margin-bottom: 20px;
   min-height: 1px;
}

.main-entry .entry-image {
   margin-bottom: 40px;
}

.entry-meta {
   margin-bottom: 10px;
   line-height: 1em;
}

.entry-meta span {
   color: #aeaeae;
   font-size: 16px;
   font-family: 'Roboto Condensed', sans-serif;
}

.entry-meta span:after {
   padding: 0 4px 0 8px;
   content: "|"
}

.entry-meta span:last-child:after {
   padding: 0;
   content: "";
}

.entry-title {
   margin-bottom: 10px;
   font-weight: 300;
   text-transform: uppercase;
   line-height: 1em;
}

h6.entry-title {
   line-height: 1.7em;
}

.main-entry .entry-title {
   margin-bottom: 23px;
   font-size: 42px;
   text-transform: none;
}

.entry .button {
   margin-bottom: 0;
}

.tags {
   display: block;
   margin-top: 30px;
}

.tags a {
   display: inline-block;
   margin-right: 7px;
   color: #aeaeae;
   font-size: 14px;
   font-family: 'Roboto Condensed';
}

.tags a:before {
   margin-right: 5px;
   color: #aeaeae;
   font-size: 14px;
   font-family: 'fontello';
   vertical-align: middle;
   content: '\e85a';
}
/* -------------------------------------------------- */
/*	Single Post Navigation
   /* -------------------------------------------------- */

.single-post-nav {
   margin-bottom: 50px;
   padding: 33px 0;
   border-top: 1px solid #ececec;
   border-bottom: 1px solid #ececec;
}

.single-post-nav a {
   position: relative;
   color: #5b5e60;
   font-weight: 400;
   font-size: 18px;
}

.single-post-nav .prev {
   float: left;
   padding-left: 45px;
}

.single-post-nav .next {
   float: right;
   padding-right: 45px;
}

.single-post-nav a:after {
   position: absolute;
   color: #aeaeae;
   font-size: 36px;
   font-family: 'fontello';
}

.single-post-nav .prev:after {
   left: 0;
   content: "\ea07";
}

.single-post-nav .next:after {
   right: 0;
   content: "\ea08";
}

.single-post-nav a:hover,
.single-post-nav a:hover:after {
   color: #00c2a9;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}
/* -------------------------------------------------- */
/*	Image Slider
   /* -------------------------------------------------- */

.image-slider {
   position: relative;
   overflow: hidden;
}

.image-slider > ul > li {
   display: none;
}

.image-slider > ul > li:first-child {
   display: block;
}

.image-slider img {
   display: block;
}
/* Post Slider Directional Navigation */

.image-slider-nav {
   position: absolute;
   z-index: 50;
   left: 0;
   top: 50%;
   margin-top: -35px;
   width: 100%;
}

.image-slider-nav a {
   position: absolute;
   display: block;
   width: 35px;
   height: 70px;
   font: 0/0 a;
   cursor: pointer;
   border: 1px solid #e6e6e6;
   border: 1px solid rgba(0, 0, 0, .08);
   background-color: #fff;
   background-color: rgba(255, 255, 255, .5);
   text-align: center;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.image-slider-nav .prevBtn {
   left: -60px;
}

.image-slider-nav .nextBtn {
   right: -60px;
}

.image-slider:hover .image-slider-nav .prevBtn {
   left: 30px;
}

.image-slider:hover .image-slider-nav .nextBtn {
   right: 30px;
}

.touch .image-slider .prevBtn {
   left: 30px;
}

.touch .image-slider .nextBtn {
   right: 30px;
}

.image-slider-nav a:hover {
   border-color: transparent;
   background-color: #00c2a9;
}

.image-slider-nav a:after {
   color: #00c2a9;
   font-size: 30px;
   font-family: 'fontello';
   line-height: 68px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.image-slider-nav .prevBtn:after {
   content: '\e8b7';
}

.image-slider-nav .nextBtn:after {
   content: '\e8b8';
}

.image-slider-nav a:hover:after {
   color: #fff;
}
/* Image Slider Bullets */

.image-control-nav {
   position: absolute;
   left: 0;
   bottom: 5px;
   z-index: 50;
   width: 100%;
   text-align: center;
   font-size: 0;
}

.image-control-nav a {
   display: inline-block;
   margin: 2px 7px;
   width: 8px;
   height: 8px;
   border-width: 1px;
   border-style: solid;
   border-color: transparent;
   background-color: #fff;
   cursor: pointer;
   vertical-align: middle;
}

.image-control-nav a {
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.image-control-nav .activeSlide {
   margin: 0 7px;
   width: 11px;
   height: 11px;
   border-color: #fff;
   background-color: transparent;
   cursor: default;
}
/* -------------------------------------------------- */
/*	Pagenavi
   /* -------------------------------------------------- */

.pagenavi {
   margin-bottom: 25px;
   font-size: 0;
}

.pagenavi .page-numbers {
   display: inline-block;
   margin-right: 5px;
   width: 35px;
   height: 35px;
   border: 1px solid #cfcfcf;
   color: #00c2a9;
   text-align: center;
   font-size: 14px;
   line-height: 33px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.pagenavi .current,
.pagenavi .page-numbers:hover {
   border-color: transparent;
   background-color: #00c2a9;
   color: #fff;
}
/* -------------------------------------------------- */
/*	Comments
   /* -------------------------------------------------- */

#comments {
   margin-bottom: 50px;
}

#comments h3 {
   font-weight: 300;
   text-transform: uppercase;
}

.comment {
   padding-top: 30px;
   list-style: none;
   border-bottom: 1px solid #ebebeb;
}

.comment .gravatar {
   float: left;
   margin-right: 20px;
}

.comment-body {
   display: table;
}

.comment .comment-author h6 {
   margin-bottom: 0;
}

.comment .comment-author a {
   color: #00c2a9;
   font-weight: 400;
   text-transform: uppercase;
}

.comment .comment-date {
   margin-bottom: 10px;
   line-height: 1;
}

.comment .comment-date a {
   color: #aeaeae;
   font-size: 12px;
   font-family: 'Roboto Condensed', sans-serif;
}
/* Children */

.comment .children {
   margin: 0;
   padding-left: 80px;
}

.children .comment {
   padding-top: 30px;
   border-bottom-width: 0;
   border-top: 1px solid #ebebeb;
}
/* -------------------------------------------------- */
/*	Respond
   /* -------------------------------------------------- */

#respond h3 {
   margin-bottom: 25px;
   font-weight: 300;
   text-transform: uppercase;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
   width: 55%;
}

#respond textarea {
   width: 80%;
   min-width: 80%;
}
/* ---------------------------------------------------------------------- */
/*	Portfolio
/* ---------------------------------------------------------------------- */
/* -------------------------------------------------- */
/*	Portfolio Filter
   /* -------------------------------------------------- */

.portfolio-filter {
   margin-bottom: 45px;
   font-size: 0;
   text-align: center;
   width: 100%;
}

.portfolio-filter li {
   position: relative;
   display: inline-block;
   margin: 0 0 5px 0;
   padding: 6px 34px;
   border-color: #cfcfcf;
   border-style: solid;
   border-width: 1px 0 1px 1px;
   font-size: 14px;
   cursor: pointer;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.ie8 .portfolio-filter li {
   border-width: 1px 1px 1px 0;
}

.ie8 .portfolio-filter li:first-child {
   border-left-width: 1px;
}

.portfolio-filter li:first-child {
   -webkit-border-radius: 6px 0 0 6px;
   border-radius: 6px 0 0 6px;
}

.portfolio-filter li:last-child {
   border-right-width: 1px;
   -webkit-border-radius: 0 6px 6px 0;
   border-radius: 0 6px 6px 0;
}

.portfolio-filter li:hover {
   background-color: #f6f6f6;
}

.portfolio-filter li.active {
   border-color: #00c2a9;
   background-color: #00c2a9;
   color: #fff;
}

.portfolio-filter li.active + li {
   border-left-color: #00c2a9;
}
/* -------------------------------------------------- */
/*	Portfolio Items
   /* -------------------------------------------------- */

ul.portfolio-items {
   font-size: 0;
   -webkit-backface-visibility: hidden;
   -webkit-font-smoothing: antialiased;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

ul.portfolio-items li {
   position: relative;
   display: inline-block;
   padding: 0 1px 1px 0;
   width: 20%;
   max-width: 20%;
   vertical-align: top;
   font-size: 0;
   text-align: left;
}

ul.portfolio-items .mix {
   display: none;
}

ul.portfolio-items img {
   display: block;
}

.work-item {
   position: relative;
   overflow: hidden;
}

.work-item img {
   display: block;
   -webkit-transition: -webkit-transform .25s ease-in-out;
   transition: transform .25s ease-in-out;
}

.work-item:hover img {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.image-extra {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   overflow: hidden;
   width: 100%;
   height: 100%;
   text-align: center;
   opacity: 0;
   filter: alpha(opacity 0);
   background-color: rgba(0, 194, 169, 0.1);
   -webkit-transition: opacity .25s ease, background-color .45s ease;
   transition: opacity .25s ease, background-color .45s ease;
}

.ie8 .image-extra {
   visibility: hidden;
}

.work-item.touched .image-extra,
.work-item:hover .image-extra {
   background-color: #00c2a9;
   background-color: rgba(0, 194, 169, 0.8);
   opacity: 1;
   filter: alpha(opacity 80);
}

.ie8 .work-item:hover .image-extra {
   visibility: visible;
}

.extra-content {
   display: table;
   overflow: hidden;
   width: 100%;
   height: 100%;
   vertical-align: middle;
   text-align: center;
}

.inner-extra {
   display: table-cell;
   margin: 0;
   padding: 0 10px;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

.link-icon .curtain,
.plus-icon .curtain {
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 1px solid #fff;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
   -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.single-image.link-icon .curtain {
   -webkit-transform: translateX(-300%);
   transform: translateX(-300%);
}

.single-image.plus-icon .curtain {
   -webkit-transform: translateX(300%);
   transform: translateX(300%);
}

.work-item:hover .link-icon .curtain,
.work-item:hover .plus-icon .curtain {
   -webkit-transform: translateX(0);
   transform: translateX(0);
}

.link-icon .curtain:hover,
.plus-icon .curtain:hover {
   border-color: transparent;
   background-color: #fff;
   background-color: rgba(255, 255, 255, .9);
}

.link-icon .curtain:after,
.plus-icon .curtain:after {
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
   color: #fff;
   text-align: center;
   font-size: 20px;
   font-family: 'fontello';
   line-height: 50px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   -webkit-transition: color .25s ease-in-out;
   transition: color .25s ease-in-out;
}

.plus-icon .curtain:after {
   content: '\e9a1';
   font-size: 28px;
}

.link-icon .curtain:after {
   content: '\e84f';
}

.link-icon .curtain:hover:after,
.plus-icon .curtain:hover:after {
   color: #00c2a9;
}

.extra-title {
   margin-bottom: 6px;
   color: #fff;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
}

.extra-category {
   margin-bottom: 0;
   color: #fff;
   font-weight: 300;
}
/* -------------------------------------------------- */
/*	Portfolio Single
   /* -------------------------------------------------- */

.project-single-entry .image-slider {
   margin-bottom: 40px;
}

.project-page-header {
   position: relative;
   margin-bottom: 55px;
}

.project-page-header .project-title {
   padding-right: 115px;
   color: #5b5e60;
   font-weight: 100;
   font-size: 60px;
   text-transform: uppercase;
}
/* Project Nav */

.project-nav {
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: -15px;
   font: 0/0 a;
}

.project-nav li {
   display: inline-block;
   margin-left: 20px;
   vertical-align: top;
}

.project-nav li a {
   display: block;
   font: 0/0 a;
   cursor: pointer;
   z-index: 10;
}

.project-nav li a:after {
   display: block;
   color: #aeaeae;
   font-size: 36px;
   font-family: 'fontello';
   text-align: center;
   line-height: 35px;
   content: "";
}

.project-nav .prev:after {
   content: "\ea07";
}

.project-nav .next:after {
   content: "\ea08";
}

.project-nav .all-projects:after {
   content: "\eac0";
   font-size: 30px;
}

.project-nav li a:hover:after {
   color: #00c2a9;
}
/* Project Meta */

.project-meta {
   margin-bottom: 25px;
}

.project-meta li {
   margin-bottom: 15px;
}

.project-meta-title {
   color: #00c2a9;
   font-weight: 400;
   font-size: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   line-height: 1em;
}

.project-meta .project-meta-date {
   color: #aeaeae;
   font-size: 16px;
   line-height: 1em;
}
/* Project Similar Posts */

.project-similar {
   font-size: 0;
}

.project-similar li {
   display: inline-block;
   width: 20%;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
   vertical-align: top;
}

.row .project-similar li {
   width: 33.33333333333333%;
}
/* ---------------------------------------------------------------------- */
/*	Sidebar
/* ---------------------------------------------------------------------- */

.sbr #sidebar {
   float: right;
}

.sbl #sidebar {
   float: left;
}
/* -------------------------------------------------- */
/*	Widgets
   /* -------------------------------------------------- */

#sidebar .widget {
   margin-bottom: 60px;
}

#sidebar .widget-title {
   margin-bottom: 25px;
   font-weight: 300;
   font-size: 20px;
   text-transform: uppercase;
}
/* ---------------------------------------- */
/*	Default Widgets
      /* ---------------------------------------- */
/* read-more links */

.more-link {}
/* blogroll links */

.linkcat {}

.blogroll {}
/* text widget */

.textwidget {}

.widget_text {}

.textwidget p {}

.widget .sub-menu {
   padding-top: 5px;
}

.widget_categories ul li,
.widget_archive ul li,
.widget_links ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_recent_entries ul li {
   padding: 8px 0;
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #e6e6e6;
   list-style: none;
}

.widget_categories ul li:first-child,
.widget_archive ul li:first-child,
.widget_links ul li:first-child,
.widget_meta ul li:first-child,
.widget_pages ul li:first-child,
.widget_recent_entries ul li:first-child {
   border-top-width: 0;
}
/* ---------------------------------------- */
/*	Recent Posts
      /* ---------------------------------------- */

.widget_recent_posts .entry {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #e6e6e6;
}

.widget_recent_posts .entry:after {
   clear: both;
   display: block;
   visibility: hidden;
   height: 0;
   content: "";
}

.widget_recent_posts .entry:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
   border-bottom-width: 0;
}

.widget_recent_posts .entry-image {
   float: left;
   margin-right: 20px;
   margin-bottom: 0;
}

.widget_recent_posts .post-holder {
   display: table;
}
/* ---------------------------------------- */
/*	Tags Cloud
      /* ---------------------------------------- */

.widget_tag_cloud .tagcloud {
   font-size: 0;
}

.widget_tag_cloud .tagcloud a {
   display: inline-block;
   margin-right: 5px;
   margin-bottom: 5px;
   padding: 3px 18px;
   border: 1px solid #cfcfcf;
   color: #00c2a9;
   font-weight: 400;
   font-size: 13px;
   text-transform: uppercase;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.widget_tag_cloud .tagcloud a:hover {
   border-color: transparent;
   background-color: #00c2a9;
   color: #fff;
}
/* ---------------------------------------- */
/*	Search
      /* ---------------------------------------- */

#searchform {
   position: relative;
}

#searchform input[type="text"] {
   padding-right: 60px;
   font-style: italic;
   font-size: 15px;
}

#searchform .submit-search {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0;
   width: 55px;
   height: 100%;
   border-left: 1px solid #dcdcdc;
   text-align: center;
}

#searchform .submit-search:before {
   display: block;
   color: #5b5e60;
   text-align: center;
   font-size: 20px;
   font-family: 'fontello';
   line-height: 55px;
   content: '\e800';
   -webkit-transition: color .25s ease;
   transition: color .25s ease;
}

#searchform input[type="text"]:focus + .submit-search {
   border-left-color: #00c2a9;
}

#searchform input[type="text"]:focus + .submit-search:before {
   color: #00c2a9;
}
/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

#footer {
   position: relative;
   z-index: 1;
   color: #a0a0a0;
   -moz-box-shadow: -8px 15px -8px #000;
   -webkit-box-shadow: -8px 15px -8px #000;
   box-shadow: 0 -8px 15px -8px #000;
}

.page-template #footer {
   background-color: #fafafa;
}

#footer .section {
   position: static;
   background-color: rgba(0, 0, 0, .7);
}

.ie8 #footer .section {
   background-image: url(../images/overlay-ie-footer.png);
   background-repeat: repeat;
}

#footer p {
   color: #a0a0a0;
}
/* -------------------------------------------------- */
/*	Widgets
   /* -------------------------------------------------- */

#footer .widget {
   margin-bottom: 25px;
}
/* -------------------------------------------------- */
/*	Logo In Footer
   /* -------------------------------------------------- */

.logo-in-footer {
   padding: 68px 0;
   border-top: 1px solid #2c2a2e;
   border-top: 1px solid rgba(207, 207, 207, .12);
   background-color: rgba(0, 0, 0, .8);
   text-align: center;
}

.ie8 .logo-in-footer {
   background-image: url(../images/overlay-ie-logo-footer.png);
   background-repeat: repeat;
}

.logo-in-footer h1 {
   margin-bottom: 0;
   font-size: 100px;
   font-family: 'Julius Sans One', sans-serif;
}

.logo-in-footer a {
   color: #252525;
   color: rgba(255, 255, 255, .1);
   text-transform: uppercase;
}
/* -------------------------------------------------- */
/*	Bottom Footer
   /* -------------------------------------------------- */

.bottom-footer {
   padding: 37px 0;
   background-color: #000;
   color: #4b4b4c;
   margin-top: 50px;
}

.ie8 .bottom-footer {
   background-image: url(../images/overlay-ie-bottom-footer.png);
   background-repeat: repeat;
}

.page-template .bottom-footer {
   border-color: #ececec;
   background-color: #fafafa;
   color: #777;
}

.ie8 .page-template .bottom-footer {
   border-color: #ececec;
   background-image: none;
   background-color: #fafafa;
   color: #777;
}

.copyright {
   font-size: 12px;
}

.developed {
   font-size: 11px;
}

.copyright a,
.developed a {
   color: #00c2a9;
}
/* ---------------------------------------------------------------------- */
/*	Widgets + Shortcodes
/* ---------------------------------------------------------------------- */
/* -------------------------------------------------- */
/*	Social Icons
   /* -------------------------------------------------- */

ul.social-icons {
   font-size: 0;
}

#footer ul.social-icons {
   margin-top: 55px;
}

ul.social-icons li {
   display: inline-block;
   margin-right: 5px;
   margin-bottom: 5px;
   vertical-align: top;
}

ul.social-icons li a {
   position: relative;
   display: block;
   width: 40px;
   height: 40px;
   border: 1px solid #cfcfcf;
   border: 1px solid rgba(207, 207, 207, .33);
   font: 0/0 a;
   cursor: pointer;
   text-align: center;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

ul.social-icons li a:hover {
   border-color: transparent;
}

ul.social-icons .twitter a:hover {
   background-color: #47c0d8;
}

ul.social-icons .facebook a:hover {
   background-color: #49699f;
}

ul.social-icons .linkedin a:hover {
   background-color: #2c7cb7;
}

ul.social-icons .pinterest a:hover {
   background-color: #c21c21;
}

ul.social-icons .rss a:hover {
   background-color: #fe9900;
}

ul.social-icons .gplus a:hover {
   background-color: #c33d19;
}

ul.social-icons .flickr a:hover {
   background-color: #e82c88;
}

ul.social-icons .instagram a:hover {
   background-color: #517fa3;
}

ul.social-icons .dropbox a:hover {
   background-color: #5da3e8;
}

ul.social-icons .youtube a:hover {
   background-color: #b72d24;
}

ul.social-icons .blogger a:hover {
   background-color: #f38f33;
}

ul.social-icons .evernote a:hover {
   background-color: #73b122;
}

ul.social-icons .dribbble a:hover {
   background-color: #e65992;
}

ul.social-icons .behance a:hover {
   background-color: #18a3fe;
}

ul.social-icons .lastfm a:hover {
   background-color: #be0607;
}

ul.social-icons .skype a:hover {
   background-color: #24b0e4;
}

ul.social-icons .vimeo a:hover {
   background-color: #568799;
}

ul.social-icons .forrst a:hover {
   background-color: #628267;
}

ul.social-icons .digg a:hover {
   background-color: #2882c6;
}

ul.social-icons .appstore a:hover {
   background-color: #606060;
}

ul.social-icons .wordpress a:hover {
   background-color: #33759d;
}

ul.social-icons .stumbleupon a:hover {
   background-color: #eb4924;
}

ul.social-icons .deviantart a:hover {
   background-color: #5f7162;
}

ul.social-icons .github a:hover {
   background-color: #7292a2;
}

ul.social-icons .mail a:hover {
   background-color: #65a413;
}

ul.social-icons li i {
   display: block;
   color: #a0a0a0;
   font-size: 20px;
   line-height: 40px;
}

ul.social-icons a:hover i {
   color: #fff;
}
/* -------------------------------------------------- */
/*	Progress Bar
   /* -------------------------------------------------- */

.progress-bar {
   position: relative;
   margin-bottom: 18px;
}

.progressbar-title {
   margin-bottom: 3px;
   color: #aeaeae;
   font-size: 16px;
}

.percent {
   position: absolute;
   top: -5px;
   right: 0;
   display: block;
   color: #aeaeae;
   font-size: 16px;
   line-height: 35px;
}

.bar-outer {
   position: relative;
   width: 100%;
   height: 12px;
   border: 1px solid #cfcfcf;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.bar {
   position: absolute;
   top: -1px;
   left: 0;
   z-index: 2;
   width: 0%;
   height: 12px;
   background-color: #00c2a9;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
/* -------------------------------------------------- */
/*	Accordion and Toggle
   /* -------------------------------------------------- */

.acc-box {
   margin-bottom: 20px;
}

.acc-trigger {
   position: relative;
   display: block;
   margin-bottom: 5px;
   padding: 15px 55px 10px 20px;
   border: 1px solid #cfcfcf;
   cursor: pointer;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.acc-trigger:hover {
   background-color: #f6f6f6;
}

.acc-trigger.active {
   border-color: transparent;
   background-color: #cc0023;
}

.acc-trigger:after {
   position: absolute;
   top: 0;
   right: 0;
   display: block;
   width: 48px;
   height: 100%;
   border-left: 1px solid #cfcfcf;
   color: #5b5e60;
   text-align: center;
   font-size: 24px;
   font-family: 'fontello';
   line-height: 47px;
   content: '\e9a1';
}

.acc-trigger.active:after {
   border-color: #fff;
   border-color: rgba(255, 255, 255, .3);
   color: #fff;
   content: '\e9a4';
}

.acc-trigger a {
   color: #777;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Raleway', sans-serif;
}

.acc-trigger a:hover {
   text-decoration: none;
   color: #777;
}

.acc-trigger.active a {
   color: #fff;
}

.acc-trigger.active + .acc-container p {
   margin: 0 0 10px 0;
}

.acc-container {
   padding: 15px 10px;
   display: none;
   background-color: #fff;
   border: #ccc solid 1px;
   margin-bottom: 15px;
   margin-top: -5px;
}
/* -------------------------------------------------- */
/*	Quotes
   /* -------------------------------------------------- */

.quotes {
   position: relative;
   margin-bottom: 25px;
}

.quotes li {
   display: none;
}

.quotes li:first-child {
   display: block;
}

.ie8 .quotes li {
   background-color: transparent !important;
}

li .quote-text {
   position: relative;
   padding: 10px 10% 0;
}

.parallax .quote-text {
   color: #fff;
}

li .quote-text:before {
   display: block;
   margin-bottom: 35px;
   content: "\e86c";
   font-size: 50px;
   font-family: 'fontello';
}

.ie8 .align-center .quote-text:before {
   text-align: center;
}

.quote-image {
   position: relative;
   display: inline-block;
   margin: 10px 0 10px;
}

.quote-image:before,
.quote-image:after {
   position: absolute;
   top: 50%;
   width: 130%;
   height: 1px;
   background-color: #dcdcdc;
   background-color: rgba(270, 270, 270, .5);
}

.quote-image:before {
   left: -150%;
   content: '';
}

.quote-image:after {
   right: -150%;
   content: '';
}

.quote-image img {
   overflow: hidden;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.quote-author {
   color: #00c2a9;
   font-size: 16px;
}

.parallax .quote-author {
   color: #fff;
   font-size: 16px;
}

.quote-author:before,
.quote-author:after {
   content: " - ";
}
/* Quote Navigation */

.quotes-control-nav {
   padding: 10px 0 0;
   text-align: center;
}

.quotes-control-nav a {
   position: relative;
   display: inline-block;
   margin: 0 3px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   font-size: 0;
   background-color: #aeaeae;
   -webkit-transition: background-color .25s linear;
   transition: background-color .25s linear;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.quotes-control-nav .activeSlide {
   background-color: #777;
}

.parallax .quotes-control-nav a {
   background-color: #ececec;
   background-color: rgba(255, 255, 255, .5);
}

.parallax .quotes-control-nav .activeSlide {
   background-color: #fff;
}
/* -------------------------------------------------- */
/*	Tabs
   /* -------------------------------------------------- */

.tabs-nav {
   margin-bottom: 10px;
   height: 48px;
   border: 1px solid #cfcfcf;
   font-size: 0;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.tabs-nav li {
   position: relative;
   display: inline-block;
   top: -1px;
   left: -1px;
   border-right: 1px solid #cfcfcf;
}

.tabs-nav .active {
   border-color: transparent;
}

.tabs-nav li a {
   position: relative;
   display: block;
   padding: 10px 35px;
   height: 48px;
   border-top: 1px solid #cfcfcf;
   border-bottom: 1px solid #cfcfcf;
   cursor: pointer;
   color: #777;
   font-size: 14px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

.tabs-nav li:first-child a {
   border-left: 1px solid #cfcfcf;
   -webkit-border-radius: 6px 0 0 6px;
   border-radius: 6px 0 0 6px;
}

.tabs-nav a:hover {
   border-color: #cfcfcf;
   background-color: #f6f6f6;
}

.tabs-nav .active a {
   background-color: #00c2a9;
   color: #fff;
}

.tabs-container {
   overflow: hidden;
}

.tab-content {
   display: none;
   padding: 10px 0;
}

.tab-content:first-child {
   display: block;
}
/* -------------------------------------------------- */
/*	Notifications
   /* -------------------------------------------------- */

.error,
.success,
.info,
.notice {
   position: relative;
   margin-bottom: 10px;
   padding: 11px 15px 11px 50px;
   display: block;
   color: #777 !important;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.error {
   background-color: #fac9cf;
}

.success {
   background-color: #e0f2cd;
}

.info {
   background-color: #c6e7f4;
}

.notice {
   background-color: #feefc5;
}

.error:before,
.success:before,
.info:before,
.notice:before {
   position: absolute;
   top: 50%;
   left: 20px;
   margin-top: -13px;
   font-size: 18px;
   font-family: 'fontello';
}

.error:before {
   color: #ce717c;
   content: '\ee83';
}

.success:before {
   color: #8aaa67;
   content: '\ee80';
}

.info:before {
   color: #66aac4;
   content: '\ece2';
}

.notice:before {
   color: #c8a749;
   content: '\ecf1';
}

.alert-close {
   position: absolute;
   top: 50%;
   right: 20px;
   margin-top: -9px;
   line-height: 1;
}

.alert-close:before {
   font-size: 18px;
   font-family: 'fontello';
   content: "\e83e";
}

.error .alert-close {
   color: #ce717c;
}

.success .alert-close {
   color: #8aaa67;
}

.info .alert-close {
   color: #66aac4;
}

.notice .alert-close {
   color: #dec47b;
}
/* -------------------------------------------------- */
/*	List
   /* -------------------------------------------------- */

ul.list {
   margin-bottom: 20px;
}

ul.list li {
   position: relative;
   padding-left: 30px;
}

ul.list li,
ol.list li {
   margin-bottom: 4px;
}

ul.list li:before {
   position: absolute;
   left: 0;
   top: 0;
   font-size: 16px;
   font-family: 'fontello';
}

ul.list li.type-1:before {
   content: '\ed4d';
   font-size: 13px;
}

ul.list li.type-2:before {
   content: '\eb43';
}

ul.list li.type-3:before {
   content: '\e8c0';
}

ul.list li.type-4:before {
   content: '\ec84';
}

ul.list li.type-5:before {
   content: '\e8b2';
}

ul.circle-list li {
   position: relative;
   margin-left: 45px;
   padding: 9px 0;
   border-top: 1px solid #e6e6e6;
}

ul.circle-list li:first-child {
   border-top: none;
}

ul.circle-list li:before {
   position: absolute;
   top: 50%;
   left: -45px;
   margin-top: -12px;
   width: 25px;
   height: 25px;
   border-width: 1px;
   border-style: solid;
   border-color: #e3e3e3;
   color: #777;
   text-align: center;
   font-family: 'fontello';
   content: '\e8b8';
   line-height: 23px;
   -webkit-transition: color .25s ease .01s, border-color .25s ease .01s;
   transition: color .25s ease .01s, border-color .25s ease .01s;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

ul.circle-list li:after {
   position: absolute;
   top: 50%;
   left: -45px;
   margin-top: -12px;
   width: 25px;
   height: 25px;
   background-color: #00c2a9;
   content: "";
   opacity: 0;
   -webkit-transition: transform .3s ease, opacity .25s ease;
   transition: transform .3s ease, opacity .25s ease;
   -webkit-transform: scale(0);
   transform: scale(0);
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.ie8 ul.circle-list li:after {
   visibility: hidden;
}

ul.circle-list li:hover:before {
   z-index: 5;
   border-color: transparent;
   color: #fff;
}

ul.circle-list li:hover:after {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.ie8 ul.circle-list li:hover:after {
   visibility: visible;
}
/* -------------------------------------------------- */
/*	Map
   /* -------------------------------------------------- */

.google_map {
   position: relative;
   width: 100%;
   height: 500px;
}

.google_map:after,
.google_map:before {
   position: absolute;
   z-index: 5;
   left: 0;
   width: 100%;
   height: 0;
   content: '';
   -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.google_map:after {
   top: 0;
}

.google_map:before {
   bottom: 0;
   -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
   box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.google_map img {
   max-width: none;
}
/* ---------------------------------------------------------------------- */
/*	Other
/* ---------------------------------------------------------------------- */
/* -------------------------------------------------- */
/*	Back Top
   /* -------------------------------------------------- */

#back-top {
   position: fixed;
   right: 40px;
   bottom: 40px;
   z-index: 999;
   display: none;
   width: 50px;
   height: 50px;
   border: 1px solid #e6e6e6;
   background-color: #000;
   background-color: rgba(0, 0, 0, .25);
   text-align: center;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

#back-top:after {
   width: 40px;
   height: 40px;
   text-align: center;
   color: #e1e1e1;
   font-size: 20px;
   font-family: 'fontello';
   content: "\ed4e";
   line-height: 48px;
   -webkit-transition: all .25s ease;
   transition: all .25s ease;
}

#back-top:hover {
   border-color: transparent;
   background-color: #cc0023;
}

#back-top:hover:after {
   color: #fff;
}

.main-title {
   background-color: #cc0023;
   -webkit-box-shadow: 0 8px 6px -6px #444;
   -moz-box-shadow: 0 8px 6px -6px #444;
   box-shadow: 0 8px 6px -6px #444;
   position: relative;
   z-index: 9999;
   padding: 23px 0;
}

.main-title h1 {
   color: #fff;
   margin-bottom: 0;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   text-transform: uppercase;
   margin-top: 0;
}

.content-block {
   padding-top: 70px;
   padding-bottom: 70px;
}

.bg-eb {
   background: url(../images/Briefings-Image.jpg) no-repeat 50% 0;
   width: 100%;
   height: auto;
   background-size: cover;
}

.bg-ee {
   background: url(../images/executive-education.jpg) no-repeat 50% 0;
   width: 100%;
   height: auto;
   background-size: cover;
}

.bg-summits {
   background: url(../images/summits.jpg) no-repeat 50% 0;
   width: 100%;
   height: auto;
   background-size: cover;
}

.bg-customised-solutions {
   background: url(../images/customised-solutions.jpg) no-repeat 50% 0;
   width: 100%;
   height: auto;
   background-size: cover;
}

.content-block p {
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #111;
   line-height: 1.5em;
}

.footer-menu {
   float: left;
   margin-right: 100px;
}

.footer-menu li {
   color: #706E6E !important;
}

.footer-menu li a {
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   line-height: 1.5em;
   text-transform: uppercase;
   color: #706E6E !important;
}

.footer-menu li a i {
   color: #cd1624;
}

.footer-menu li a:hover {
   color: #ff4629 !important;
   text-decoration: none;
}

.footer-menu li.last {
   background: url(../images/logo-dark.png) no-repeat;
   display: inline-block;
   width: 200px;
   height: 58px;
}

a.orange:link,
a.orange:visited,
a.orange:active {
   color: #ff4629;
   text-decoration: none;
}

a.orange:link:hover {
   text-decoration: underline;
}

.list-1 li {
   margin-bottom: 20px;
}

.list-1 li a {
   color: #ff4629;
   text-decoration: none;
}

.list-1 li a:hover {
   color: #ff4629;
   text-decoration: underline;
}

.logo {
   width: 100%;
   max-width: 461px;
   height: auto;
   padding-top: 140px;
}

h1#logo {
   margin-top: 0;
}

.b1 {
   width: 100%;
   display: block;
   -moz-box-shadow: 0 5px 5px -5px #333;
   -webkit-box-shadow: 0 5px 5px -5px #333;
   box-shadow: 0 5px 5px -5px #333;
   border: #B6C2CC solid 1px;
   padding: 20px;
   background-color: #FCFCFC;
}

.socialfields-wrapper {
   padding: 0 17px 0 0;
}

.socialfields {
   width: 100%;
   background-color: #e4f1f8;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */

   -moz-box-sizing: border-box;
   /* Firefox, other Gecko */

   box-sizing: border-box;
   /* Opera/IE 8+ */

   float: left;
   margin-top: 10px;
   margin-bottom: 30px;
   border: #acd7ed solid 1px;
}

.getdetails {
   padding-left: 0;
}

a.btn-social i {
   color: #fff !important;
}

.socialfields .close {
   position: absolute;
   right: 7px;
   top: -14px;
}

.eb-page {
   padding-top: 60px;
}

.eb-other {
   background-color: #a1111a;
   position: relative;
   z-index: 9999;
   padding: 27px 0;
}

.eb-other h1 {
   color: #fff;
   margin-bottom: 0;
   font-family: 'Raleway', sans-serif;
   font-size: 35px;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 0;
}

.eb-other h2 {
   text-transform: uppercase;
}

.eb-subhead {
   background-color: #cc0023;
   -webkit-box-shadow: 0 8px 6px -6px #444;
   -moz-box-shadow: 0 8px 6px -6px #444;
   box-shadow: 0 8px 6px -6px #444;
   position: relative;
   z-index: 9999;
   padding: 0 0;
}

.ed-subhead {
   background-color: #cc0023;
   position: relative;
   z-index: 9999;
   padding: 0 0;
}

.subnav {
   margin: 0;
   padding: 0;
}

.subnav li {
   display: inline;
   margin: 0;
   padding: 0;
   float: left;
}

.subnav li a {
   display: inline-block;
   line-height: 45px;
   padding: 0 25px;
   margin: 0;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
   text-decoration: none;
}

.subnav li a:hover,
.subnav li a.current {
   background-color: #000;
}

.event-wrapper {
   background-color: #000;
}

.event-wrapper-1 {
   background-color: #f5f5f5;
}

.event-wrapper-1 img {
   background-color: #fff;
   padding: 5px;
   border: #ccc solid 1px;
}

.event-block {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0.5);
   background-origin: padding-box;
   background-position: 0 0;
   background-repeat: repeat;
   background-size: auto auto;
   line-height: 24px;
   margin-top: -55px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   position: relative;
   border-left: #F00 solid 10px;
   width: 100%;
}

.event-block-1 {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #f5f5f5;
   background-origin: padding-box;
   background-position: 0 0;
   background-repeat: repeat;
   background-size: auto auto;
   line-height: 24px;
   margin-top: 15px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   position: relative;
   border-left: #F00 solid 10px;
   width: 100%;
}

.event-content-1 a {
   margin-top: 0;
   color: #000;
   font-size: 22px;
   line-height: 20px;
}

.event-content a {
   margin-top: 0;
   color: #fff;
   font-size: 22px;
   line-height: 20px;
}

.event-content a:hover,
.event-content-1 a:hover {
   margin-top: 0;
   color: #ff4629;
   font-size: 22px;
   text-decoration: none;
}

.event-content ul {
   padding-top: 10px;
}

.event-content li {
   color: #fff;
}

.custom-container {
   width: 960px;
}

.custom-container-1 {
   width: 560px;
}

.select1 select {
   border: #fff solid 1px;
   background-color: #FFF;
   margin-top: 7px;
}

.margin-off {
   margin: 0;
}

.eb-overview {
   background: url(../images/event_detail_bg1.jpg) no-repeat 50% 50%;
   width: 100%;
   height: auto;
   padding-top: 40px;
   padding-bottom: 45px;
   float: left;
}

.eb-overview h4,
.eb-content01 h3 {
   text-transform: uppercase;
   line-height: 24px;
}

.block-light {
   background-color: #fff;
   width: 100%;
   height: auto;
   padding-top: 25px;
   padding-bottom: 45px;
   float: left;
}

.block-dark {
   background: url(../images/texture.jpg) no-repeat 50% 0;
   width: 100%;
   height: auto;
   padding-top: 25px;
   padding-bottom: 45px;
   float: left;
   background-size: cover;
}

.course-info {
   background: url(../images/chain.jpg) no-repeat;
   width: 100%;
   height: auto;
   padding-top: 40px;
   padding-bottom: 45px;
   background-size: cover;
   float: left;
}

.eb-content {
   padding: 10px 25px 25px 25px;
   margin: 0 30px;
   background-color: #000;
}

.eb-content h1 {
   color: #fff;
   font-weight: 400;
   text-transform: uppercase;
}

.eb-content p {
   color: #fff;
}

.eb-content01 {
   padding: 0 25px;
   margin: 0 30px;
}

.eb-content01 h1 {
   font-size: 40px;
   font-weight: 400;
   color: #444;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.eb-content01 h2 {
   font-size: 40px;
   font-weight: 400;
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.block-dark p {
   color: #fff;
}

.eb-grey {
   background-color: #e7e7e7;
   padding: 25px;
   -webkit-box-shadow: 0 8px 6px -6px #444;
   -moz-box-shadow: 0 8px 6px -6px #444;
   box-shadow: 0 8px 6px -6px #444;
}

.eb-grey p {
   color: #333;
}

.eb-grey.p-1 p {
   color: #333;
   font-size: 16px;
}

.eb-black {
   background-color: #000;
   padding: 30px;
}

.bg1 {
   background-color: #f5f5f5;
}

.bg2 {
   background-color: #1f1f1f;
}

.time {
   background: url(../images/clock.png) no-repeat left center;
   padding-left: 52px;
   padding-top: 52px;
}

.user {
   background: url(../images/user.png) no-repeat left center;
   padding-left: 52px;
   padding-top: 52px;
}

.date-time {
   background: url(../images/date.png) no-repeat left center;
   margin-left: 8px;
   padding-left: 52px;
   padding-top: 52px;
}

.venue {
   background: url(../images/venue.png) no-repeat left center;
   padding-left: 52px;
   padding-top: 52px;
}

.date-time ul,
.venue ul,
.time ul,
.user ul {
   position: relative;
   top: -23px;
   left: 45px;
}

.date-time li,
.venue li,
.time li,
.user li {
   display: block;
   color: #fff;
   text-transform: uppercase;
}

.date-time li.last,
.venue li.last,
.time li.last,
.user li.last {
   font-size: 20px;
}

.list-2 li {
   line-height: 30px;
}

.list-2 li i {
   padding-right: 10px;
}

.list-3 li {
   line-height: 30px;
   color: #fff;
}

.list-3 li i {
   padding-right: 10px;
}

.img-list li {
   display: inline-block;
   padding-right: 3px;
   padding-bottom: 7px;
}

.img-list li img {
   border: #ccc solid 1px;
   width: 65px;
}

a.link-1:link,
a.link-1:visited,
a.link-1:active {
   color: #ff4629 !important;
}

a.link-2:link,
a.link-2:visited,
a.link-2:active {
   color: inherit;
}

h2.black {
   color: #333;
}

table.table-1 {
   margin-top: 20px;
}

table.table-1 td {
   border: none !important;
   color: #fff;
}

.margin-bottom-10 {
   margin-bottom: 10px;
}

.side-btns {
   position: fixed;
   bottom: 200px;
   z-index: 9999;
   text-align: center;
   right: 0;
}

.side-btns li {
   margin-bottom: 4px;
}

.side-btns li i {
   color: #444;
   font-size: 16px;
}

.side-btns li:hover i {
   color: #000;
   font-size: 16px;
}

.side-btns li a.login {
   background: url(../images/login.png) no-repeat left top;
   width: 36px;
   height: 88px;
   display: block;
}

.side-btns li a.register {
   background: url(../images/register.png) no-repeat left top;
   width: 36px;
   height: 127px;
   display: block;
}

.h-1 {
   color: #444;
   margin-bottom: 20px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   font-size: 24px;
   text-transform: capitalize;
   margin-top: 0;
}
/*  CustomFont */

.btn.fnt1,
a.fnt1:link,
a.fnt1:visited,
a.fnt1:active,
a.fnt1:hover {
   font-family: 'Arimo', sans-serif;
   font-weight: 400;
}

.padding-left-0 {
   padding-left: 0 !important;
}

.eb-content-sub {
   background-color: #000;
   margin: 0 30px 15px 0;
   padding: 10px 25px 40px;
   display: block;
}

.eb-content-sub img {
   float: left;
   padding: 0 15px 0 0;
}

.eb-content-sub p,
.eb-content-sub h2 {
   color: #fff;
   font-weight: 400;
}

.eb-content-sub-white {
   background-color: #fff;
   margin: 0 30px 0 0;
   padding: 10px 25px 25px;
   display: block;
}

.eb-content-sub-white h4 {
   text-transform: capitalize;
}

.arrowbtn {
   background: url(../images/down-btn.png) no-repeat;
   width: 60px;
   height: 60px;
   display: inline-block;
}

.margin-top-15 {
   margin-top: 15px;
}

.margin-top-20 {
   margin-top: 20px;
}

.margin-bottom-15 {
   margin-bottom: 15px;
}

.margin-left-10 {
   margin-left: 10px;
}

.register-options label {
   float: right;
   margin-right: 25px;
}

.host-1 {
   padding-left: 14px;
   padding-top: 20px;
}

.host-1 span {
   font-size: 14px;
}

select.gmt {
   margin-top: 20px;
}

.host-1 img {
   float: left;
   height: auto;
   padding-right: 15px;
   width: 63px;
}
